@-webkit-keyframes showDots {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showDots {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes wiggle {
  from {
    rotate: -5deg;
  }
  to {
    rotate: 3deg;
  }
}
@keyframes wiggle {
  from {
    rotate: -5deg;
  }
  to {
    rotate: 3deg;
  }
}
@-webkit-keyframes waterDrop1 {
  0% {
    opacity: 0;
    top: 5px;
  }
  30% {
    opacity: 0;
    top: 5px;
  }
  to {
    top: 93%;
  }
}
@keyframes waterDrop1 {
  0% {
    opacity: 0;
    top: 5px;
  }
  30% {
    opacity: 0;
    top: 5px;
  }
  to {
    top: 93%;
  }
}
@-webkit-keyframes waterDrop2 {
  0% {
    opacity: 0;
    top: 0;
  }
  10% {
    opacity: 0;
    top: 0;
  }
  to {
    top: 88%;
  }
}
@keyframes waterDrop2 {
  0% {
    opacity: 0;
    top: 0;
  }
  10% {
    opacity: 0;
    top: 0;
  }
  to {
    top: 88%;
  }
}
@-webkit-keyframes waterDrop3 {
  0% {
    opacity: 0;
    top: -5%;
  }
  to {
    top: 82%;
  }
}
@keyframes waterDrop3 {
  0% {
    opacity: 0;
    top: -5%;
  }
  to {
    top: 82%;
  }
}
@-webkit-keyframes waterDropFadeOut1 {
  from {
    top: 93%;
    opacity: 1;
  }
  to {
    top: 93%;
    opacity: 0;
  }
}
@keyframes waterDropFadeOut1 {
  from {
    top: 93%;
    opacity: 1;
  }
  to {
    top: 93%;
    opacity: 0;
  }
}
@-webkit-keyframes waterDropFadeOut2 {
  from {
    top: 88%;
    opacity: 1;
  }
  to {
    top: 88%;
    opacity: 0;
  }
}
@keyframes waterDropFadeOut2 {
  from {
    top: 88%;
    opacity: 1;
  }
  to {
    top: 88%;
    opacity: 0;
  }
}
@-webkit-keyframes waterDropFadeOut3 {
  from {
    top: 82%;
    opacity: 1;
  }
  to {
    top: 82%;
    opacity: 0;
  }
}
@keyframes waterDropFadeOut3 {
  from {
    top: 82%;
    opacity: 1;
  }
  to {
    top: 82%;
    opacity: 0;
  }
}
@-webkit-keyframes dropShit {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  35% {
    top: 88%;
    right: 2.734125vw;
    scale: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  46% {
    top: 82%;
    scale: 2;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  60% {
    top: 88%;
    right: 7%;
    scale: 2;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  75% {
    top: 85%;
    scale: 2;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    top: 89%;
    right: 12%;
    scale: 2;
    opacity: 1;
  }
  95% {
    top: 89%;
    right: 12%;
    scale: 2;
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    top: 89%;
    right: 12%;
    scale: 2;
    opacity: 0;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes dropShit {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  35% {
    top: 88%;
    right: 2.734125vw;
    scale: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  46% {
    top: 82%;
    scale: 2;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  60% {
    top: 88%;
    right: 7%;
    scale: 2;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  75% {
    top: 85%;
    scale: 2;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    top: 89%;
    right: 12%;
    scale: 2;
    opacity: 1;
  }
  95% {
    top: 89%;
    right: 12%;
    scale: 2;
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    top: 89%;
    right: 12%;
    scale: 2;
    opacity: 0;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes dropShit1 {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  10% {
    top: 104%;
    left: 0;
    scale: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  25% {
    top: 89%;
    scale: 2;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  40% {
    top: 104%;
    left: -12%;
    scale: 2;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  55% {
    top: 96%;
    scale: 2;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  78% {
    top: 104%;
    scale: 2;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  88% {
    top: 104%;
    scale: 2;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  95% {
    top: 104%;
    left: -25%;
    scale: 2;
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    top: 104%;
    left: -25%;
    scale: 2;
    opacity: 0;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes dropShit1 {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  10% {
    top: 104%;
    left: 0;
    scale: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  25% {
    top: 89%;
    scale: 2;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  40% {
    top: 104%;
    left: -12%;
    scale: 2;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  55% {
    top: 96%;
    scale: 2;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  78% {
    top: 104%;
    scale: 2;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  88% {
    top: 104%;
    scale: 2;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  95% {
    top: 104%;
    left: -25%;
    scale: 2;
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    top: 104%;
    left: -25%;
    scale: 2;
    opacity: 0;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 1;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 1;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@-webkit-keyframes spin {
  from {
    opacity: 1;
    scale: 1;
    rotate: 0;
  }
  to {
    rotate: 360deg;
    opacity: 1;
    scale: 1;
  }
}
@keyframes spin {
  from {
    opacity: 1;
    scale: 1;
    rotate: 0;
  }
  to {
    rotate: 360deg;
    opacity: 1;
    scale: 1;
  }
}
@-webkit-keyframes swing-anim {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  95% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes swing-anim {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  95% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@-webkit-keyframes swingMonkey-anim {
  0% {
    transform: rotate(-20deg);
  }
  5% {
    transform: rotate(-20deg);
  }
  95% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
@keyframes swingMonkey-anim {
  0% {
    transform: rotate(-20deg);
  }
  5% {
    transform: rotate(-20deg);
  }
  95% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  38% {
    top: 100.5%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  55% {
    top: 94%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    top: 100.5%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    top: 96%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    top: 100.5%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    top: 98%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    top: 100.5%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  38% {
    top: 100.5%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  55% {
    top: 94%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    top: 100.5%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    top: 96%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    top: 100.5%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    top: 98%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    top: 100.5%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@-webkit-keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@-webkit-keyframes spinAmeta {
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spinAmeta {
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes AmetaDrop {
  0% {
    right: 12%;
    top: -40%;
    opacity: 1;
  }
  12% {
    right: 12%;
    top: 3%;
  }
  14% {
    right: 22%;
    top: 1%;
  }
  16% {
    right: 8%;
    top: 0.8%;
  }
  20% {
    right: 9%;
    top: -1%;
  }
  22% {
    right: 10%;
    top: 2%;
  }
  25% {
    right: 11%;
    top: 0.5%;
  }
  30% {
    right: 13%;
    top: 3%;
  }
  40% {
    right: 14%;
    top: 80%;
  }
  42% {
    right: 16%;
    top: 78%;
  }
  45% {
    right: 20%;
    top: 83%;
  }
  49% {
    right: 30%;
    top: 85%;
  }
  53% {
    right: 40%;
    top: 87%;
  }
  55% {
    right: 48%;
    top: 88%;
  }
  60% {
    right: 56%;
    top: 88%;
  }
  65% {
    right: 64%;
    top: 88%;
    rotate: -360deg;
  }
  85% {
    right: 52%;
    top: 88%;
    rotate: -180deg;
  }
  94% {
    right: 47%;
    top: 88%;
  }
  100% {
    right: 48%;
    top: 88%;
    opacity: 1;
  }
}
@keyframes AmetaDrop {
  0% {
    right: 12%;
    top: -40%;
    opacity: 1;
  }
  12% {
    right: 12%;
    top: 3%;
  }
  14% {
    right: 22%;
    top: 1%;
  }
  16% {
    right: 8%;
    top: 0.8%;
  }
  20% {
    right: 9%;
    top: -1%;
  }
  22% {
    right: 10%;
    top: 2%;
  }
  25% {
    right: 11%;
    top: 0.5%;
  }
  30% {
    right: 13%;
    top: 3%;
  }
  40% {
    right: 14%;
    top: 80%;
  }
  42% {
    right: 16%;
    top: 78%;
  }
  45% {
    right: 20%;
    top: 83%;
  }
  49% {
    right: 30%;
    top: 85%;
  }
  53% {
    right: 40%;
    top: 87%;
  }
  55% {
    right: 48%;
    top: 88%;
  }
  60% {
    right: 56%;
    top: 88%;
  }
  65% {
    right: 64%;
    top: 88%;
    rotate: -360deg;
  }
  85% {
    right: 52%;
    top: 88%;
    rotate: -180deg;
  }
  94% {
    right: 47%;
    top: 88%;
  }
  100% {
    right: 48%;
    top: 88%;
    opacity: 1;
  }
}
@-webkit-keyframes ball-bounce {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  7% {
    top: 2%;
    right: 18%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  11% {
    top: -6%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  16% {
    top: 2.3%;
    right: 10%;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  19% {
    top: -2%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  22% {
    right: 14%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  32% {
    top: 80%;
    right: 14%;
  }
  36% {
    top: 70%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  39% {
    top: 84%;
    right: 20%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  41% {
    top: 77%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    top: 86%;
    right: 30%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  48% {
    top: 82%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  51% {
    top: 88.5%;
    right: 39%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  55% {
    top: 87%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  57% {
    top: 88.5%;
    right: 44%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  75% {
    right: 63.5%;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  76% {
    right: 63.5%;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  100% {
    top: 88.5%;
    right: 55%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    rotate: 360deg;
  }
}
@keyframes ball-bounce {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  7% {
    top: 2%;
    right: 18%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  11% {
    top: -6%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  16% {
    top: 2.3%;
    right: 10%;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  19% {
    top: -2%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  22% {
    right: 14%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  32% {
    top: 80%;
    right: 14%;
  }
  36% {
    top: 70%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  39% {
    top: 84%;
    right: 20%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  41% {
    top: 77%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    top: 86%;
    right: 30%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  48% {
    top: 82%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  51% {
    top: 88.5%;
    right: 39%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  55% {
    top: 87%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  57% {
    top: 88.5%;
    right: 44%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  75% {
    right: 63.5%;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  76% {
    right: 63.5%;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  100% {
    top: 88.5%;
    right: 55%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    rotate: 360deg;
  }
}
@-webkit-keyframes spin-around {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-360deg);
  }
  20% {
    transform: rotate(-720deg);
  }
  35% {
    transform: rotate(-1080deg);
  }
  55% {
    transform: rotate(-1440deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  90% {
    transform: rotate(-1820deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    transform: rotate(-1800deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes spin-around {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-360deg);
  }
  20% {
    transform: rotate(-720deg);
  }
  35% {
    transform: rotate(-1080deg);
  }
  55% {
    transform: rotate(-1440deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  90% {
    transform: rotate(-1820deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    transform: rotate(-1800deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(50px);
    @media (max-width: 482px) {
      transform: translateX(-50%) translateY(10px);
    }
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(50px);
    @media (max-width: 482px) {
      transform: translateX(-50%) translateY(10px);
    }
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}
@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-50px);
    @media (max-width: 482px) {
      transform: translateX(-50%) translateY(-5px);
    }
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-50px);
    @media (max-width: 482px) {
      transform: translateX(-50%) translateY(-5px);
    }
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(10%);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(10%);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
@-webkit-keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@media (max-width: 482px) {
  @-webkit-keyframes waterDrop1 {
    0% {
      opacity: 0;
      top: 5px;
    }
    30% {
      opacity: 0;
      top: 5px;
    }
    to {
      top: 93%;
    }
  }
  @keyframes waterDrop1 {
    0% {
      opacity: 0;
      top: 5px;
    }
    30% {
      opacity: 0;
      top: 5px;
    }
    to {
      top: 93%;
    }
  }
  @-webkit-keyframes waterDrop2 {
    0% {
      opacity: 0;
      top: 0;
    }
    10% {
      opacity: 0;
      top: 0;
    }
    to {
      top: 88%;
    }
  }
  @keyframes waterDrop2 {
    0% {
      opacity: 0;
      top: 0;
    }
    10% {
      opacity: 0;
      top: 0;
    }
    to {
      top: 88%;
    }
  }
  @-webkit-keyframes waterDrop3 {
    0% {
      opacity: 0;
      top: -5%;
    }
    to {
      top: 82%;
    }
  }
  @keyframes waterDrop3 {
    0% {
      opacity: 0;
      top: -5%;
    }
    to {
      top: 82%;
    }
  }
  @-webkit-keyframes waterDropFadeOut1 {
    from {
      top: 93%;
      opacity: 1;
    }
    to {
      top: 93%;
      opacity: 0;
    }
  }
  @keyframes waterDropFadeOut1 {
    from {
      top: 93%;
      opacity: 1;
    }
    to {
      top: 93%;
      opacity: 0;
    }
  }
  @-webkit-keyframes waterDropFadeOut2 {
    from {
      top: 88%;
      opacity: 1;
    }
    to {
      top: 88%;
      opacity: 0;
    }
  }
  @keyframes waterDropFadeOut2 {
    from {
      top: 88%;
      opacity: 1;
    }
    to {
      top: 88%;
      opacity: 0;
    }
  }
  @-webkit-keyframes waterDropFadeOut3 {
    from {
      top: 82%;
      opacity: 1;
    }
    to {
      top: 82%;
      opacity: 0;
    }
  }
  @keyframes waterDropFadeOut3 {
    from {
      top: 82%;
      opacity: 1;
    }
    to {
      top: 82%;
      opacity: 0;
    }
  }
  @-webkit-keyframes dropShit {
    0% {
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    30% {
      top: 94%;
      right: 4.99275vw;
      scale: 1;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    41% {
      top: 80%;
      scale: 2;
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    50% {
      top: 94%;
      right: 20%;
      scale: 2;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    65% {
      top: 86%;
      scale: 2;
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    88% {
      top: 94%;
      right: 40%;
      scale: 3;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      top: 94%;
      right: 47%;
      scale: 3;
      opacity: 1;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      top: 94%;
      right: 48%;
      scale: 3;
      opacity: 0;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes dropShit {
    0% {
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    30% {
      top: 94%;
      right: 4.99275vw;
      scale: 1;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    41% {
      top: 80%;
      scale: 2;
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    50% {
      top: 94%;
      right: 20%;
      scale: 2;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    65% {
      top: 86%;
      scale: 2;
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    88% {
      top: 94%;
      right: 40%;
      scale: 3;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      top: 94%;
      right: 47%;
      scale: 3;
      opacity: 1;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      top: 94%;
      right: 48%;
      scale: 3;
      opacity: 0;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
}
@-webkit-keyframes bounceOut {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25% {
    top: 30%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    top: -120%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}
@keyframes bounceOut {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25% {
    top: 30%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    top: -120%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}
@-webkit-keyframes moveLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-101%);
    opacity: 1;
  }
}
@keyframes moveLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-101%);
    opacity: 1;
  }
}
@-webkit-keyframes moveRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(101%);
    opacity: 1;
  }
}
@keyframes moveRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(101%);
    opacity: 1;
  }
}
@-webkit-keyframes moveUp {
  0% {
    transform: translatey(0);
    opacity: 1;
  }
  100% {
    transform: translatey(-101%);
    opacity: 1;
  }
}
@keyframes moveUp {
  0% {
    transform: translatey(0);
    opacity: 1;
  }
  100% {
    transform: translatey(-101%);
    opacity: 1;
  }
}
@-webkit-keyframes moveDown {
  0% {
    transform: translatey(-101%);
    opacity: 1;
  }
  100% {
    transform: translatey(0%);
    opacity: 1;
  }
}
@keyframes moveDown {
  0% {
    transform: translatey(-101%);
    opacity: 1;
  }
  100% {
    transform: translatey(0%);
    opacity: 1;
  }
}
@-webkit-keyframes flash {
  0% {
    color: #fff;
  }
  6.25% {
    color: #004cba;
  }
  12.5% {
    color: #039dd9;
  }
  18.75% {
    color: #4c0282;
  }
  25% {
    color: #8a24d2;
  }
  31.25% {
    color: #06edf7;
  }
  37.5% {
    color: #f44da8;
  }
  43.75% {
    color: #bd2782;
  }
  50% {
    color: #70ce23;
  }
  56.25% {
    color: #472b1b;
  }
  62.5% {
    color: #fcbb00;
  }
  68.75% {
    color: #49a00c;
  }
  75% {
    color: #da4812;
  }
  81.25% {
    color: #98ff98;
  }
  87.5% {
    color: #5090d0;
  }
  93.75% {
    color: #b8b8b8;
  }
}
@keyframes flash {
  0% {
    color: #fff;
  }
  6.25% {
    color: #004cba;
  }
  12.5% {
    color: #039dd9;
  }
  18.75% {
    color: #4c0282;
  }
  25% {
    color: #8a24d2;
  }
  31.25% {
    color: #06edf7;
  }
  37.5% {
    color: #f44da8;
  }
  43.75% {
    color: #bd2782;
  }
  50% {
    color: #70ce23;
  }
  56.25% {
    color: #472b1b;
  }
  62.5% {
    color: #fcbb00;
  }
  68.75% {
    color: #49a00c;
  }
  75% {
    color: #da4812;
  }
  81.25% {
    color: #98ff98;
  }
  87.5% {
    color: #5090d0;
  }
  93.75% {
    color: #b8b8b8;
  }
}/*# sourceMappingURL=animations.css.map */