@font-face {
  font-family: "GoGoHack";
  src: url(../fonts/GoGoHack.ttf);
}
@font-face {
  font-family: "CasCadia";
  src: url(../fonts/Cascadia.ttf);
}
html::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

a, a:hover {
  text-decoration: none;
  color: #fff;
}

body {
  margin: 0;
  background-color: #000000;
}

h2 {
  font-family: "GoGoHack";
  font-size: clamp(26px, 3.65vw, 70px);
  color: #fff;
}
@media (max-width: 482px) {
  h2 {
    font-size: 32px;
  }
}

p {
  font-family: "CasCadia";
  font-size: clamp(14px, 0.886vw, 17px);
  line-height: 26px;
  color: #fff;
}
@media (max-width: 482px) {
  p {
    font-size: 14px;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  color: #fff;
  font-family: "CasCadia";
}

.cookie-popup {
  position: absolute;
  width: 100vw;
  height: 133px;
  background-color: #fff;
  bottom: 0;
}
@media (max-width: 1366px) {
  .cookie-popup {
    height: 80px;
  }
}

.button-primary {
  border: 1px solid #885df3;
  font-size: clamp(15px, 1.3vw, 25px);
  font-family: "GoGoHack";
  padding: 5px 13px;
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}
.button-primary::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: #885df3;
  z-index: -1;
  transition: all 0.3s;
  left: 0;
  top: 0;
}
.button-primary img {
  width: 1.5625vw;
  min-width: 20px;
  max-width: 30px;
}
.button-primary:hover::after {
  width: 100%;
}

.bg-dots-con {
  width: 100vw;
  max-width: 1920px;
  box-sizing: border-box;
  margin: auto;
  min-height: 101vh;
  top: 0;
  padding: 10px;
}
.bg-dots-con .dot {
  width: 0.572vw;
  height: 0.572vw;
  border-radius: 50%;
  margin: 0.72vw;
  display: inline-block;
  position: relative;
}
.bg-dots-con .dot.dot-xl {
  width: 0.52vw;
  height: 0.52vw;
  margin: 0.746vw;
}
.bg-dots-con .dot.dot-lg {
  width: 0.46vw;
  height: 0.46vw;
  margin: 0.776vw;
}
.bg-dots-con .dot.dot-md {
  width: 0.26vw;
  height: 0.26vw;
  margin: 0.876vw;
}
.bg-dots-con .dot.dot-sm {
  width: 0.15vw;
  height: 0.15vw;
  margin: 0.931vw;
}
.bg-dots-con .dot.dot-xs {
  width: 0.1041vw;
  height: 0.1041vw;
  margin: 0.95395vw;
}
.bg-dots-con .dot.dot-trans {
  background: transparent;
}
.bg-dots-con .dot.dot-blue-d {
  background: #004cba;
}
.bg-dots-con .dot.dot-blue-l {
  background: #039dd9;
}
.bg-dots-con .dot.dot-purp-d {
  background: #4c0282;
}
.bg-dots-con .dot.dot-purp-l {
  background: #8a24d2;
}
.bg-dots-con .dot.dot-vlt {
  background: #06edf7;
}
.bg-dots-con .dot.dot-pink-l {
  background: #f44da8;
}
.bg-dots-con .dot.dot-pink-d {
  background: #bd2782;
}
.bg-dots-con .dot.dot-green-l {
  background: #70ce23;
}
.bg-dots-con .dot.dot-green-d {
  background: #49a00c;
}
.bg-dots-con .dot.dot-orng {
  background: #fcbb00;
}
.bg-dots-con .dot.dot-orng-d {
  background: #da4812;
}
.bg-dots-con .dots-col {
  display: flex;
  flex-direction: column;
}
.bg-dots-con .dots-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 0;
  -webkit-animation: showDots 2s;
          animation: showDots 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.bg-dots-con .dots-row .dot.dot-lg {
  margin: 0.832vw;
}
.bg-dots-con .dots-row .dot.dot-lg {
  margin: 0.832vw;
}
.bg-dots-con .dots-row .dot.dot-md {
  margin: 0.856vw;
}
.bg-dots-con .dots-row .dot.dot-sm {
  margin: 0.931vw;
}
.bg-dots-con .dots-row .dot.dot-xs {
  margin-left: 17px;
  margin-top: 16px;
}

.dots-lg {
  min-height: auto;
  padding-bottom: 0;
}

@media (max-width: 992px) {
  .header-dots {
    padding-top: 0;
  }
}

@media (max-width: 1366px) {
  .row-xxl {
    display: none;
  }
}

.row-xl {
  display: none !important;
}
@media (max-width: 1366px) {
  .row-xl {
    display: flex !important;
  }
}

.top50 {
  margin-top: 50vh;
}

.top52 {
  margin-top: 52vh;
}

.top53 {
  margin-top: 53vh;
}

.top54 {
  margin-top: 54vh;
}

.top54-5 {
  margin-top: 54.5vh;
}

.top55 {
  margin-top: 55vh;
}

.top100 {
  margin-top: 100vh;
}

@media (max-width: 1680px) {
  .h91vh {
    height: 91vh;
  }
}

@-webkit-keyframes showDots {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showDots {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main-wrapper {
  width: 100vw;
  max-width: 1920px;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

header {
  padding: 40px 53px;
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
}
@media (max-width: 1366px) {
  header {
    padding: 20px 53px;
  }
}
header nav.navbar {
  position: relative;
  z-index: 2;
}
header nav.navbar .logo {
  width: 20.5%;
}
@media (max-width: 992px) {
  header nav.navbar .logo {
    width: 50%;
  }
}
header nav.navbar .logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left center;
     object-position: left center;
}
header nav.navbar a.nav-link {
  color: #fff;
  font-family: "GoGoHack", sans-serif;
  font-size: clamp(17px, 1.04vw, 20px);
}
@media (max-width: 992px) {
  header nav.navbar a.nav-link {
    font-size: 26px;
  }
}
@media (max-width: 482px) {
  header nav.navbar a.nav-link {
    font-size: 20;
  }
}
header nav.navbar a.nav-link i {
  font-size: 26px;
}
header nav.navbar a.nav-link:hover {
  color: #885df3;
}
@media (max-width: 992px) {
  header nav.navbar .nav-menu {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  header nav.navbar .nav-menu ul li {
    margin: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  header nav.navbar .nav-menu ul li a {
    margin: 0 10px;
  }
}
header nav.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("../images/icons/togger-icon.png") !important;
}
header .bg-video-cont {
  width: 82%;
  height: calc(100vh - 50px);
  overflow: hidden;
  position: absolute;
  z-index: -1;
  top: 40px;
  left: 52%;
  transform: translateX(-50%);
}
header .bg-video-cont img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
header .bg-video-cont video {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 992px) {
  header .bg-video-cont {
    width: 100%;
    top: 0;
  }
}
header .header-text-cont {
  width: 36%;
  height: calc(100vh - 245px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 34px;
  position: relative;
  z-index: 2;
}
@media (max-width: 992px) {
  header .header-text-cont {
    width: 80%;
  }
}
@media (max-width: 1366px) {
  header .header-text-cont {
    height: calc(100vh - 160px);
  }
}

.get-ameta-dots {
  min-height: 120vh;
  padding-top: 16.5vw;
}
@media (max-width: 1680px) {
  .get-ameta-dots {
    min-height: 115vh;
  }
}
@media (max-width: 1366px) {
  .get-ameta-dots {
    min-height: 139.5vh;
  }
}
@media (max-width: 992px) {
  .get-ameta-dots {
    min-height: 96vh;
  }
}

.ms-3col {
  margin-left: -2vw;
}

.ms-1col {
  margin-left: 0;
}

.ms-2col {
  margin-left: 1.9vw;
}

#get-ameta {
  width: 100vw;
  min-height: 120vh;
  position: relative;
  z-index: 2;
}
@media (max-width: 1680px) {
  #get-ameta {
    min-height: 115vh;
  }
}
@media (max-width: 1366px) {
  #get-ameta {
    min-height: 140vh;
  }
}
@media (max-width: 992px) {
  #get-ameta {
    min-height: 100vh;
  }
}
#get-ameta .get-ameta-sec {
  width: 68.5%;
  margin: auto;
  position: relative;
  display: flex;
  align-items: flex-start;
}
@media (max-width: 992px) {
  #get-ameta .get-ameta-sec {
    flex-wrap: wrap;
    width: 68%;
  }
}
#get-ameta .get-ameta-sec .section-text {
  width: 60%;
  height: auto;
  position: relative;
  margin-top: 27.5%;
}
@media (max-width: 992px) {
  #get-ameta .get-ameta-sec .section-text {
    width: 100%;
    margin-top: 40%;
  }
}
#get-ameta .get-ameta-sec .section-text p {
  padding-left: 30px;
  position: relative;
  margin-top: 60px;
  width: 95%;
  font-size: clamp(14px, 0.9375vw, 18px);
}
@media (max-width: 992px) {
  #get-ameta .get-ameta-sec .section-text p {
    margin-left: 2%;
  }
}
@media (max-width: 1366px) {
  #get-ameta .get-ameta-sec .section-text p {
    margin-top: 40px;
    width: 100%;
    font-size: clamp(14px, 0.7vw, 18px);
  }
}
#get-ameta .get-ameta-sec .section-text p::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 100%;
  background: #fff;
  border-radius: 4px;
  left: 0;
  top: 0;
}
#get-ameta .get-ameta-sec .section-text .ameta-address {
  width: auto;
  display: inline-block;
  height: auto;
  padding: 3px 30px 3px 5%;
  border-radius: 9.5px;
  background: #fff;
  position: relative;
  margin-top: 20px;
  margin-left: 10px;
}
@media (max-width: 1680px) {
  #get-ameta .get-ameta-sec .section-text .ameta-address {
    margin-top: 10px;
  }
}
#get-ameta .get-ameta-sec .section-text .ameta-address .address-icon {
  position: absolute;
  width: auto;
  height: 250%;
  left: -24px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
@media (max-width: 1680px) {
  #get-ameta .get-ameta-sec .section-text .ameta-address .address-icon {
    height: 230%;
  }
}
@media (max-width: 1366px) {
  #get-ameta .get-ameta-sec .section-text .ameta-address .address-icon {
    height: 160%;
  }
}
#get-ameta .get-ameta-sec .section-text .ameta-address .address-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
#get-ameta .get-ameta-sec .section-text .ameta-address p {
  color: #000;
  margin: 0;
  width: 100%;
  font-size: clamp(13px, 0.834vw, 16px);
}
@media (max-width: 1366px) {
  #get-ameta .get-ameta-sec .section-text .ameta-address p {
    font-size: 11px;
  }
}
#get-ameta .get-ameta-sec .section-text .ameta-address p::before {
  content: none;
}
#get-ameta .get-ameta-sec .section-card {
  margin-left: 5%;
  background: url(../images/swap-card-bg.png);
  padding: 16px 34px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  min-width: 295px;
  width: 20.4vw;
  max-width: 393px;
  height: 27.1874vw;
  min-height: 392px;
  max-height: 522px;
  margin-top: 22%;
  position: relative;
}
@media (max-width: 1366px) {
  #get-ameta .get-ameta-sec .section-card {
    width: 25vw;
    height: 35vw;
  }
}
@media (max-width: 992px) {
  #get-ameta .get-ameta-sec .section-card {
    width: 40vw;
    min-width: auto;
    min-height: auto;
    margin-top: 0;
    height: 60vw;
    margin-left: 30%;
  }
}
#get-ameta .get-ameta-sec .section-card p {
  font-size: clamp(16px, 1.12vw, 23px);
  color: #000;
  text-align: center;
}
#get-ameta .get-ameta-sec .section-card label {
  font-family: "CasCadia";
  font-size: 16px;
}
#get-ameta .get-ameta-sec .section-card .card-title h3 {
  font-size: clamp(24px, 2.08vw, 40px);
  text-align: center;
  font-family: "GoGoHack";
}
#get-ameta .get-ameta-sec .section-card .divider {
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 1.53px;
}
@media (max-width: 1680px) {
  #get-ameta .get-ameta-sec .section-card .divider {
    height: 3px;
  }
}
@media (max-width: 992px) {
  #get-ameta .get-ameta-sec .section-card .divider {
    height: 2px;
  }
}
#get-ameta .get-ameta-sec .section-card .swap-btn-con {
  margin: 1rem 0;
}
@media (max-width: 1680px) {
  #get-ameta .get-ameta-sec .section-card .swap-btn-con {
    margin: 0 0 1rem 0;
  }
}
#get-ameta .get-ameta-sec .section-card .swap-btn-con .swap-btn {
  background: transparent;
  border: 0;
  outline: none;
}
#get-ameta .get-ameta-sec .section-card .swap-btn-con .swap-btn:focus {
  outline: none;
}
#get-ameta .get-ameta-sec .section-card .swap-input-con {
  background: #000;
  border-radius: 50px;
  position: relative;
  display: flex;
  align-items: center;
}
#get-ameta .get-ameta-sec .section-card .swap-input-con .input-icon {
  min-width: 40px;
  width: 2.604vw;
  max-width: 50px;
  margin-left: 2px;
  margin-right: 5px;
}
@media (max-width: 1680px) {
  #get-ameta .get-ameta-sec .section-card .swap-input-con .input-icon {
    height: 38px;
  }
}
#get-ameta .get-ameta-sec .section-card .swap-input-con .input-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
#get-ameta .get-ameta-sec .section-card .swap-input-con .input-label {
  font-family: "CasCadia";
  font-size: clamp(16px, 1.12vw, 23px);
  color: #fff;
}
#get-ameta .get-ameta-sec .section-card .swap-input-con ::-moz-placeholder {
  color: #fff;
  font-family: "CasCadia";
  font-size: clamp(16px, 1.12vw, 23px);
}
#get-ameta .get-ameta-sec .section-card .swap-input-con :-ms-input-placeholder {
  color: #fff;
  font-family: "CasCadia";
  font-size: clamp(16px, 1.12vw, 23px);
}
#get-ameta .get-ameta-sec .section-card .swap-input-con ::placeholder {
  color: #fff;
  font-family: "CasCadia";
  font-size: clamp(16px, 1.12vw, 23px);
}
#get-ameta .get-ameta-sec .section-card .swap-input-con input {
  width: 57%;
  position: relative;
  text-align: right;
  color: #fff;
  background: transparent;
  border: 0;
  outline: none;
  font-size: clamp(16px, 1.12vw, 23px);
}
#get-ameta .get-ameta-sec .section-card .swap-input-con input:active, #get-ameta .get-ameta-sec .section-card .swap-input-con input:focus {
  outline: none;
}
#get-ameta .get-ameta-sec .section-card .connect-wallet-btn {
  font-size: clamp(17px, 1.35vw, 26px);
  font-family: "GoGoHack";
  color: #000;
  background: #fff;
  border: 4px solid #000;
  border-radius: 50px;
  width: 80%;
}
@media (max-width: 1680px) {
  #get-ameta .get-ameta-sec .section-card .connect-wallet-btn {
    font-size: clamp(17px, 1.25vw, 20px);
  }
}
#get-ameta .get-ameta-sec .section-card .gass-fee-label {
  font-size: clamp(13px, 0.833vw, 16px);
  text-align: center;
}

.play-games-dots {
  min-height: 104vh;
  padding-top: 25%;
  padding-bottom: 0;
}
@media (max-width: 1680px) {
  .play-games-dots {
    padding-top: 26%;
    min-height: 96vh;
  }
}
@media (max-width: 992px) {
  .play-games-dots {
    min-height: 85vh;
  }
}

.btn-slider-nav {
  cursor: pointer;
}

#play-games .play-games-sec {
  width: 100%;
  padding-left: 14%;
  box-sizing: border-box;
  min-height: 113vh;
  display: flex;
  overflow: hidden;
}
@media (max-width: 1680px) {
  #play-games .play-games-sec {
    min-height: 112vh;
  }
}
@media (max-width: 1366px) {
  #play-games .play-games-sec {
    min-height: 126vh;
  }
}
@media (max-width: 992px) {
  #play-games .play-games-sec {
    flex-wrap: wrap;
    min-height: 87vh;
  }
}
#play-games .play-games-sec .section-text {
  width: 33%;
  margin-top: 15%;
}
@media (max-width: 1366px) {
  #play-games .play-games-sec .section-text {
    margin-top: 12%;
  }
}
@media (max-width: 992px) {
  #play-games .play-games-sec .section-text {
    width: 95%;
    margin-top: 12%;
  }
}
#play-games .play-games-sec .section-text p {
  width: 97%;
  font-size: clamp(14px, 0.9375vw, 18px);
  position: relative;
  padding-left: 20px;
  margin-top: 10px;
}
@media (max-width: 1680px) {
  #play-games .play-games-sec .section-text p {
    width: 98%;
  }
}
@media (max-width: 1366px) {
  #play-games .play-games-sec .section-text p {
    width: 100%;
    line-height: 20px;
  }
}
#play-games .play-games-sec .section-text p span {
  color: #ff0000;
}
#play-games .play-games-sec .section-text p::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 100%;
  background: #fff;
  border-radius: 4px;
  left: 0;
  top: 0;
}
#play-games .play-games-sec .game-cards-con {
  width: 67%;
  padding-left: 2%;
  padding-top: 0;
}
@media (max-width: 992px) {
  #play-games .play-games-sec .game-cards-con {
    width: 100%;
  }
}
#play-games .play-games-sec .game-cards-con ul.game-cards-crsl {
  list-style: none;
  height: 80vh !important;
  display: flex;
  align-items: center;
  padding-left: 1%;
}
@media (max-width: 1680px) {
  #play-games .play-games-sec .game-cards-con ul.game-cards-crsl {
    height: 80vh !important;
  }
}
@media (max-width: 1366px) {
  #play-games .play-games-sec .game-cards-con ul.game-cards-crsl {
    height: 86vh !important;
  }
}
@media (max-width: 992px) {
  #play-games .play-games-sec .game-cards-con ul.game-cards-crsl {
    height: 48vh !important;
  }
}
#play-games .play-games-sec .game-cards-con ul.game-cards-crsl .item-card {
  width: 20.5vw;
  min-width: 200px;
  border-radius: 10px;
  display: flex;
  box-sizing: border-box;
  margin: 0px 10px;
  position: relative;
}
@media (max-width: 992px) {
  #play-games .play-games-sec .game-cards-con ul.game-cards-crsl .item-card {
    width: 29vw;
  }
}
#play-games .play-games-sec .game-cards-con ul.game-cards-crsl .item-card img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#play-games .play-games-sec .game-cards-con ul.game-cards-crsl .item-card .slide-card-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
#play-games .play-games-sec .game-cards-con ul.game-cards-crsl .item-card .slide-card-btn a {
  font-size: clamp(17px, 1.6vw, 32px);
  color: #fff;
  font-family: "GoGoHack";
  padding: 3px 10px;
  width: 230px;
  display: inline-block;
  text-align: center;
  border-radius: 50px;
  border: 1.5px solid #fff;
  background: #000;
}
@media (max-width: 992px) {
  #play-games .play-games-sec .game-cards-con ul.game-cards-crsl .item-card .slide-card-btn a {
    width: 180px;
  }
}
@media (max-width: 482px) {
  #play-games .play-games-sec .game-cards-con ul.game-cards-crsl .item-card {
    width: 300px;
  }
}
#play-games .play-games-sec .game-cards-con ul.game-cards-crsl .slide-item.active {
  transform: scale(1.1);
  margin-right: 60px !important;
}
@media (max-width: 1680px) {
  #play-games .play-games-sec .game-cards-con ul.game-cards-crsl .slide-item.active {
    margin-right: 50px !important;
  }
}
@media (max-width: 992px) {
  #play-games .play-games-sec .game-cards-con ul.game-cards-crsl .slide-item.active {
    margin-right: 30px !important;
  }
}
#play-games .play-games-sec .game-cards-con ul.game-cards-crsl .slide-item.active .slide-card-btn {
  display: block;
}

.cS-hidden {
  height: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden;
}

.lSSlideOuter .lSPager.lSpg {
  display: flex;
  text-align: left;
  padding-left: 20px;
  align-items: center;
  margin-top: -2% !important;
}
.lSSlideOuter .lSPager.lSpg li {
  padding: 0 18px;
}
@media (max-width: 1680px) {
  .lSSlideOuter .lSPager.lSpg li {
    padding: 0 16px;
  }
}
.lSSlideOuter .lSPager.lSpg li a {
  width: 0.989vw;
  min-width: 12px;
  max-width: 19px;
  height: 0.989vw;
  min-height: 12px;
  max-height: 19px;
  background-color: #fff;
  border-radius: 50%;
}
.lSSlideOuter .lSPager.lSpg li.active a {
  width: 2.08vw;
  height: 2.08vw;
  min-width: 20px;
  max-width: 40px;
  min-height: 20px;
  max-height: 40px;
  border: 10px solid #5a5a5a;
  background-color: #fff;
}

.roadmap-dots {
  padding-top: 0;
  padding-bottom: 0;
  min-height: auto;
}

#roadmap .roadmap-sec {
  width: 80%;
  margin-left: 14%;
  padding-top: 3.8%;
}
@media (max-width: 1680px) {
  #roadmap .roadmap-sec {
    padding-top: 3.3%;
  }
}
@media (max-width: 1366px) {
  #roadmap .roadmap-sec {
    padding-top: 3.9%;
  }
}
@media (max-width: 992px) {
  #roadmap .roadmap-sec {
    padding-top: 3.5%;
  }
}
#roadmap .roadmap-sec .section-title {
  padding-left: 0;
}
#roadmap .roadmap-sec .roadmap-timeline {
  position: relative;
  padding-left: 1%;
}
#roadmap .roadmap-sec .roadmap-timeline .cloud-img-items {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
}
#roadmap .roadmap-sec .roadmap-timeline .cloud-img-items .cloud-img-item {
  position: absolute;
}
#roadmap .roadmap-sec .roadmap-timeline .cloud-img-items .cloud-img-item:hover {
  -webkit-animation: shake 0.5s infinite;
          animation: shake 0.5s infinite;
}
#roadmap .roadmap-sec .roadmap-timeline .cloud-img-items .cloud-img-item.item-1 {
  width: 10.1vw;
  min-width: 185px;
  max-width: 193px;
  top: 36%;
  left: -2%;
}
@media (max-width: 992px) {
  #roadmap .roadmap-sec .roadmap-timeline .cloud-img-items .cloud-img-item.item-1 {
    top: 55%;
    left: 60%;
  }
}
#roadmap .roadmap-sec .roadmap-timeline .cloud-img-items .cloud-img-item.item-2 {
  width: 190px;
  width: 9.9vw;
  min-width: 180px;
  max-width: 190px;
  left: 25%;
  top: 3%;
}
@media (max-width: 992px) {
  #roadmap .roadmap-sec .roadmap-timeline .cloud-img-items .cloud-img-item.item-2 {
    top: -2%;
    left: 55%;
  }
}
#roadmap .roadmap-sec .roadmap-timeline .cloud-img-items .cloud-img-item.item-3 {
  width: 11.04vw;
  min-width: 196px;
  max-width: 212px;
  left: 53%;
  top: 14%;
}
@media (max-width: 992px) {
  #roadmap .roadmap-sec .roadmap-timeline .cloud-img-items .cloud-img-item.item-3 {
    top: 25%;
    left: 0;
  }
}
#roadmap .roadmap-sec .roadmap-timeline .cloud-img-items .cloud-img-item.item-4 {
  width: 10.4vw;
  min-width: 190px;
  max-width: 200px;
  right: 3%;
  top: 35%;
}
@media (max-width: 992px) {
  #roadmap .roadmap-sec .roadmap-timeline .cloud-img-items .cloud-img-item.item-4 {
    top: 77%;
    right: 52%;
  }
}
#roadmap .roadmap-sec .roadmap-timeline .cloud-img-items .cloud-img-item img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#roadmap .roadmap-sec .roadmap-timeline .timeline-item {
  min-height: 23vh;
}
@media (max-width: 992px) {
  #roadmap .roadmap-sec .roadmap-timeline .timeline-item {
    min-height: 10vh;
  }
}
#roadmap .roadmap-sec .roadmap-timeline .timeline-item .item-text h3 {
  font-size: clamp(20px, 2.08vw, 40px);
  font-family: "GoGoHack";
  color: #fff;
  line-height: 26px;
}
#roadmap .roadmap-sec .roadmap-timeline .timeline-item .item-text ul {
  list-style: none;
  padding: 0;
}
#roadmap .roadmap-sec .roadmap-timeline .timeline-item .item-text ul li {
  font-size: clamp(14px, 1.04vw, 20px);
  font-family: "GoGoHack";
  color: #fff;
}
#roadmap .roadmap-sec .roadmap-timeline .col3 .itemQ3 {
  grid-area: itemQ3;
}
#roadmap .roadmap-sec .roadmap-timeline .col3 .itemQ4 {
  grid-area: itemQ4;
}
@media (max-width: 992px) {
  #roadmap .roadmap-sec .roadmap-timeline .col3 {
    display: grid;
    grid-template-areas: "itemQ3" "itemQ4";
  }
}

@-webkit-keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.faq-dots {
  padding-top: 0;
  padding-bottom: 0;
  min-height: auto;
  padding-right: 20px;
}

#FAQ {
  min-height: 200vh;
  padding-top: 35vh;
}
@media (max-width: 1680px) {
  #FAQ {
    min-height: 188vh;
    padding-top: 23vh;
  }
}
@media (max-width: 1366px) {
  #FAQ {
    min-height: 210vh;
    padding-top: 25vh;
  }
}
@media (max-width: 992px) {
  #FAQ {
    min-height: 80vh;
    padding-top: 12vh;
  }
}
#FAQ .faq-sec {
  width: 60%;
  margin: auto;
}
@media (max-width: 992px) {
  #FAQ .faq-sec {
    width: 85%;
  }
}
@media (max-width: 482px) {
  #FAQ .faq-sec {
    width: 90%;
  }
}
#FAQ .faq-sec .section-title {
  text-align: center;
}
#FAQ .faq-sec .faq-dropdowns-con {
  width: 70%;
  margin: auto;
  margin-top: 50px;
}
@media (max-width: 992px) {
  #FAQ .faq-sec .faq-dropdowns-con {
    margin-top: 30px;
  }
}
@media (max-width: 482px) {
  #FAQ .faq-sec .faq-dropdowns-con {
    width: 95%;
  }
}
#FAQ .faq-sec .faq-dropdowns-con .accordion-item {
  background-color: #000;
  border-top: 1px solid #fff;
}
#FAQ .faq-sec .faq-dropdowns-con .accordion-item:last-child {
  border-bottom: 1px solid #fff;
}
#FAQ .faq-sec .faq-dropdowns-con .accordion-item .accordion-button {
  background-color: transparent;
}
@media (max-width: 992px) {
  #FAQ .faq-sec .faq-dropdowns-con .accordion-item .accordion-button {
    font-size: 16px;
  }
}
#FAQ .faq-sec .faq-dropdowns-con .accordion-item .accordion-button.collapsed {
  color: #fff;
}
#FAQ .faq-sec .faq-dropdowns-con .accordion-item .accordion-button:not(.collapsed) {
  color: #fff;
  background-color: transparent;
}
#FAQ .faq-sec .faq-dropdowns-con .accordion-item .accordion-button:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
#FAQ .faq-sec .faq-dropdowns-con .accordion-item .accordion-button::after {
  background-image: url(../images/icons/plus.png);
}
@media (max-width: 992px) {
  #FAQ .faq-sec .faq-dropdowns-con .accordion-item .accordion-button::after {
    background-size: 80%;
    background-position: center;
  }
}
#FAQ .faq-sec .faq-dropdowns-con .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: url(../images/icons/minus.png);
}
@media (max-width: 992px) {
  #FAQ .faq-sec .faq-dropdowns-con .accordion-item .accordion-button:not(.collapsed)::after {
    background-size: 80%;
    background-position: center;
  }
}

footer {
  padding: 50px 0;
}
footer .footer-sec {
  width: 77.8%;
  margin: auto;
}
footer .footer-sec .footer-logo {
  width: 100%;
}
footer .footer-sec .footer-logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .footer-sec .footer-content .footer-col ul li {
  margin: 10px 0;
  font-size: 18px;
}
footer .footer-sec .footer-content .footer-col .social-menu a {
  font-size: 28px;
}
footer .footer-sec .footer-content .footer-col .copyrights p {
  font-size: 18px;
}

.fadeInUp, .fadeInDown, .fadeInRight, .fadeInLeft, .fadeIn {
  opacity: 0;
  transition: all 0.2s;
}

.fade-up {
  -webkit-animation: fadeInUp 1s !important;
          animation: fadeInUp 1s !important;
  -webkit-animation-fill-mode: both !important;
          animation-fill-mode: both !important;
  -webkit-animation-delay: 1.5s !important;
          animation-delay: 1.5s !important;
}
.fade-down {
  -webkit-animation: fadeInDown 1s !important;
          animation: fadeInDown 1s !important;
  -webkit-animation-fill-mode: both !important;
          animation-fill-mode: both !important;
}
.fade-down._1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.fade-down._2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.fade-down._3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.fade-down._4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.fade-right {
  -webkit-animation: fadeInRight 1s 0.5s !important;
          animation: fadeInRight 1s 0.5s !important;
  -webkit-animation-fill-mode: both !important;
          animation-fill-mode: both !important;
}
.fade-left {
  -webkit-animation: fadeInLeft 1s 0.5s !important;
          animation: fadeInLeft 1s 0.5s !important;
  -webkit-animation-fill-mode: both !important;
          animation-fill-mode: both !important;
}
.fade-in {
  -webkit-animation: fadeIn 1s 0.5s !important;
          animation: fadeIn 1s 0.5s !important;
  -webkit-animation-fill-mode: both !important;
          animation-fill-mode: both !important;
}
.fade-in._1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.fade-in._2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.fade-in._3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.fade-in._4 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-200px);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-200px);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(50%);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(50%);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}/*# sourceMappingURL=styles.css.map */