$xl : 1366px;
$lg : 992px;
$md : 768px;
$sm : 482px;
@mixin responsive($query) {
    @media ( max-width: $query ) {
        @content;
    }
}
@font-face {
    font-family: 'GoGoHack';
    src: url(../fonts/GoGoHack.ttf) ;
}
@font-face {
    font-family: 'CasCadia';
    src: url(../fonts/Cascadia.ttf) ;
}
$primary-bg: #000000;
$primary-txt-color: #fff;
$primary-font: 'GoGoHack';
$secondary-font: 'CasCadia';
html::-webkit-scrollbar{
    display: none;
}

// global styles 
*{
    box-sizing: border-box;
}
a, a:hover{
    text-decoration: none;
    color: $primary-txt-color;
}
body{
    margin: 0;
    background-color: $primary-bg;
}
h2{
    font-family: $primary-font;
    font-size: 70px;
    color: $primary-txt-color;
}
p{
    font-family: $secondary-font;
    font-size: 17px;
    line-height: 26px;
    color: $primary-txt-color;
}

.cookie-popup{
    position: absolute;
    width: 100vw;
    height: 133px;
    background-color: #fff;
    bottom: 0;
}
.button-primary{
    border: 1px solid #885df3;
    font-size: 25px;   
    font-family: $primary-font;
    padding: 5px 13px;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    &:hover{
        background: #885df3;
    }
}

// $dot-wid-xxl: 11px;
$dot-wid-xxl: 0.572vw;
// $dot-wid-xl: 10px;
$dot-wid-xl: 0.52vw;
// $dot-wid-lg: 9px;
$dot-wid-lg: 0.46vw;
// $dot-wid-md: 5px;
$dot-wid-md: 0.26vw;
// $dot-wid-sm: 3px;
$dot-wid-sm: 0.15vw;
// $dot-wid-xs: 2px;
$dot-wid-xs: 0.1041vw;
.bg-dots-con{
    max-width: 100vw;
    margin: auto;
    height: 101vh;
    top: 0;
    padding: 10px;
    // overflow: hidden;
    
    .dot{
        width: $dot-wid-xxl;
        height: $dot-wid-xxl;
        border-radius: 50%;
        margin: 0.72vw;
        display:inline-block;
        position:relative;
    }
    .dot.dot-lg{
        width: $dot-wid-xl;
        height: $dot-wid-xl;
    }
    .dot.dot-lg{
        width: $dot-wid-lg;
        height: $dot-wid-lg;
    }
    .dot.dot-md{
        width: $dot-wid-md;
        height: $dot-wid-md;
        margin-left: 14.3px;
    }
    .dot.dot-sm{
        width: $dot-wid-sm;
        height: $dot-wid-sm;
        margin-left: 15px;
    }
    .dot.dot-xs{
        width: $dot-wid-xs;
        height: $dot-wid-xs;
        margin-left: 15px;
    }
   
    .dot.dot-trans{
        background: transparent;
    }
    .dot.dot-blue-d{
        background: #004cba;
    }
    .dot.dot-blue-l{
        background: #039dd9;
    }
    .dot.dot-purp-d{
        background: #4c0282;
    }
    .dot.dot-purp-l{
        background: #8a24d2;
    }
    .dot.dot-vlt{
        background: #06edf7;
    }
    .dot.dot-pink-l{
        background: #f44da8;
    }
    .dot.dot-pink-d{
        background: #bd2782;
    }
    .dot.dot-green-l{
        background: #70ce23;
    }
    .dot.dot-green-d{
        background: #49a00c;
    }
    .dot.dot-orng{
        background: #fcbb00;
    }
    .dot.dot-orng-d{
        background: #da4812;
    }

    .dots{
        &-col{
            display: flex;
            flex-direction: column;
            opacity: 0;
            animation: showDots 2s;
            animation-fill-mode: forwards;
        }
        &-row{
            display: flex;
            flex-direction: row;
            align-items: center;
            opacity: 0;
            animation: showDots 2s;
            animation-fill-mode: forwards;
            .dot.dot-md{
                margin-left: 15px;
                margin-top: 15px;
            }
            .dot.dot-sm{
                margin-left: 16.5px;
                margin-top: 15.5px;
            }
            .dot.dot-xs{
                margin-left: 17px;
                margin-top: 16px;
            }
        }
        
    }
}

.top50{
    margin-top: 50vh;
}
.top52{
    margin-top: 52vh;
}
.top53{
    margin-top: 53vh;
}
.top54{
    margin-top: 54vh;
}
.top54-5{
    margin-top: 54.5vh;
}
.top55{
    margin-top: 55vh;
}
.top100{
    margin-top: 100vh;
}

@keyframes showDots{
    0%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



// Main Content Styles 
.main-wrapper{
    max-width: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

header{
    padding: 40px 53px;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;

    nav.navbar{
        position: relative;
        z-index: 2;
        
        .logo{
            width: 20.5%;
            
            img{
                width: 100%;
                object-fit: contain;
                object-position: left center;
            }
        }
        a.nav-link{
            color: $primary-txt-color;
            font-family: $primary-font, sans-serif;
            font-size: 20px;
            i{
                font-size: 26px;
            }
            &:hover{
                color: #885df3;
            }
        }
    }

    .bg-video-cont{
        width: 82%;
        height: calc(100vh - 50px);
        overflow: hidden;
        position: absolute;
        z-index: -1;
        top: 40px;
        left: 52%;
        transform: translateX(-50%);

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
        
        video{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    .header-text-cont{
        width: 36%;
        height: calc(100vh - 245px);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 34px;
        position: relative;
        z-index: 2;
    }
}


#get-ameta{
    width: 100vw;
    min-height: 100vh;
    position: relative;
    z-index: 2;

    .get-ameta-sec{
        width: 68.5%;
        margin: auto;
        min-height: 100vh;
        position: relative;
        display: flex;
        align-items: center;

        .section-text{
            width: 60%;
            height: auto;
            position: relative;
            margin-top: 5%;
            p{
                padding-left: 30px;
                position: relative;
                margin-top: 60px;
                width: 85%;
                font-size: 18px;

                &::before{
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 100%;
                    background: #fff;
                    border-radius: 4px;
                    left: 0;
                    top: 0;
                }
            }
            .ameta-address{
                width: auto;
                display: inline-block;
                height: auto;
                padding: 3px 30px 3px 5%;
                border-radius: 9.5px;
                background: #fff;
                position: relative;
                margin-top: 20px;
                margin-left: 10px;

                .address-icon{
                    position: absolute;
                    width: auto;
                    height: 270%;
                    left: -24px;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 2;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        object-position: center;
                    }
                }
                p{
                    color: #000;
                    margin: 0;
                    width: 100%;
                    font-size: 16px;

                    &::before{
                        content: none;
                    }
                }
            }

        }

        .section-card{
            margin-left: 5%;
            background: url(../images/swap-card-bg.png);
            padding: 16px 34px;
            width: 393px;
            height: 522px;
            p{
                font-size: 23px;
                color: #000;
                text-align: center;
            }
            label{
                font-family: $secondary-font;
                font-size: 16px;
            }
            .card-title{
                h3{
                    font-size: 40px;
                    text-align: center;
                    font-family: $primary-font;
                }
                
            }

            .divider{
                width: 100%;
                height: 4px;
                background-color: #000;
                border-radius: 1.53px;
            }

            .swap-btn{
                background: transparent;
                border: 0;
                outline: none;

                &:focus{
                    outline: none;
                }
            }
            .swap-input-con{
                background: #000;
                border-radius: 50px;
                position: relative;
                display: flex;
                align-items: center;
                .input-icon{
                    width: 50px;
                    height: 50px;
                    margin-left: 2px;
                    margin-right: 5px;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        object-position: center;
                    }
                }
                .input-label{
                    font-family: $secondary-font;
                    font-size: 23px;
                    color: #fff;
                }
                ::placeholder{
                    color: #fff;
                    font-family: $secondary-font;
                    font-size: 23px;
                }
                input{
                    width: 57%;
                    position: relative;
                    text-align: right;
                    color: #fff;
                    background: transparent;
                    border: 0;
                    outline: none;
                    font-size: 23px;

                    &:active, &:focus{
                        outline: none;
                    }
                }
            }

            .connect-wallet-btn{
                font-size: 26px;
                font-family: $primary-font;
                color: #000;
                background: #fff;
                border: 4px solid #000;
                border-radius: 50px;
                width: 80%;
            }
            .gass-fee-label{
                font-size: 16px;
                text-align: center;
            }
        }

    }
    
}

#play-games{
    .play-games-sec{
        width: 100%;
        padding-left: 14%;
        box-sizing: border-box;
        height: 100vh;
        display: flex;
        align-items: center;
        overflow: hidden;
        .section-text{
            width: 33%;

            p{
                width: 85%;
                font-size: 18px;
                position: relative;
                padding-left: 20px;

                span{
                    color: #ff0000;
                }
                &::before{
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 100%;
                    background: #fff;
                    border-radius: 4px;
                    left: 0;
                    top: 0;
                }
            }
        }
        .game-cards-con{
            width: 67%;
            ul.game-cards-crsl{
                list-style:none;
                height: 80vh !important;
                display: flex;
                align-items: center;
                padding-left: 50px;
                // .slide-item{
                //     transform: scale(1.05);
                // }
                .item-card{
                    width: 386px;
                    // height:310px;
                    border-radius: 10px;
                    display: flex;
                    box-sizing: border-box;
                    margin: 0px 10px;
                    position: relative;
                    img{
                        width: 100%;
                        object-fit: contain;
                        
                    }
                    .slide-card-btn{
                        position: absolute;
                        bottom: 20px;
                        left: 50%;
                        transform: translateX(-50%);
                        display: none;

                        a{
                            font-size: 32px;
                            color: #fff;
                            font-family: $primary-font;
                            padding: 3px 10px;
                            width: 230px;
                            display: inline-block;
                            text-align: center;
                            border-radius: 50px;
                            border: 1.5px solid #fff;
                            background: #000;
                        }
                    }

                    @include responsive($sm) {
                        width: 300px;
                    }
                }
                .slide-item.active{
                    transform: scale(1.2);
                    margin-right: 80px !important;

                    .slide-card-btn{
                        display: block;
                    }
                }
            }
            
        }
    }
}

.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}
.lSSlideOuter .lSPager.lSpg{
    display: flex;
    text-align: left;
    padding-left: 50px;
    align-items: center;

    li{
        padding: 0 18px;
        a{
            width: 19px;
            height: 19px;
            background-color: #fff;
            border-radius: 50%;
        }
        &.active{
            a{
                height: 40px;
                width: 40px;
                
                border: 10px solid #5a5a5a;
                background-color: #fff;
            }
        }
    }
}

#roadmap{
    .roadmap-sec{
        width: 80%;
        margin: auto;
        padding-top: 173px;

        .section-title{
            padding-left: 8%;
        }

        .roadmap-timeline{
            position: relative;

            .cloud-img-items{
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 100%;
                display: flex;

                .cloud-img-item{
                    position: absolute;

                    &:hover{
                        animation: shake 0.5s infinite;
                    }

                    &.item-1{
                        width: 193px;
                        top: 36%;
                        left: -2%;
                    }
                    &.item-2{
                        width: 190px;
                        left: 25%;
                        top: 3%;
                    }
                    &.item-3{
                        width: 212px;
                        left: 53%;
                        top: 14%;
                    }
                    &.item-4{
                        width: 200px;
                        right: 3%;
                        top: 35%;
                    }

                    img{
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }

            .timeline-item{
                min-height: 23vh;

                .item-text{
                    h3{
                        font-size: 40px;
                        font-family: $primary-font;
                        color: #fff;
                        line-height: 26px;
                    }
                    ul{
                        list-style: none;
                        padding: 0;

                        li{
                            font-size: 20px;
                            font-family: $primary-font;
                            color: #fff;
                        }
                    }
                }
            }
        }
        
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }