$hxl: 1005px;
$xxl : 1680px;
$xl : 1366px;
$lg : 992px;
$md : 768px;
$sm : 482px;
$xs : 390px;
@mixin responsive($query) {
    @media ( max-width: $query ) {
        @content;
    }
}
@mixin responsiveHeight($query) {
    @media ( min-height: $query ) and (min-width: 1600px){
        @content;
    }
}
@mixin responsiveMaxHeight($query) {
    @media ( max-height: $query ) and (max-width: $sm) {
        @content;
    }
}
@mixin responsiveMaxHeightxs($query) {
    @media ( max-height: $query ) and (max-width: $xs) {
        @content;
    }
}
@mixin responsiveMinHeight($query) {
    @media ( min-height: $query ) and (max-width: $sm) {
        @content;
    }
}
@mixin responsiveMinHeightxs($query) {
    @media ( min-height: $query ) and (max-width: $xs) {
        @content;
    }
}
@font-face {
    font-family: 'GoGoHack';
    src: url(../fonts/GoGoHack.ttf) ;
}
@font-face {
    font-family: 'CasCadia';
    src: url(../fonts/Cascadia.ttf) ;
}
$primary-bg: #000000;
$primary-txt-color: #fff;
$primary-font: 'GoGoHack';
$secondary-font: 'CasCadia';
html::-webkit-scrollbar{
    display: none;
}

// global styles 
*{
    box-sizing: border-box;
}
a, a:hover{
    text-decoration: none;
    color: $primary-txt-color;
}
body{
    margin: 0;
    background-color: $primary-bg;
}
h2{
    font-family: $primary-font;
    font-size: clamp(26px, 3.65vw, 70px);
    color: $primary-txt-color;
    @include responsive($sm){
        font-size: clamp(26px, 7.11vw, 32px);
    }
}
p{
    font-family: $secondary-font;
    font-size: clamp(14px,  0.886vw, 17px);
    line-height: 26px;
    color: $primary-txt-color;
    @include responsive($sm){
        font-size: 14px;
        line-height: 20px;
    }
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
        color: #fff;
        font-family: $secondary-font;
    }
}
.cookie-popup{
    position: absolute;
    width: 100vw;
    height: 133px;
    background-color: #fff;
    bottom: 0;
    @include responsive($xl){
        height: 80px;
    }
}
.button-primary{
    border: 1px solid #885df3;
    font-size: clamp(15px, 1.3vw,25px);   
    font-family: $primary-font;
    padding: 5px 14px;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    text-align: center;

    &::after{
        content: "";
        position: absolute;
        width: 0;
        height: 100%;
        background: #885df3;
        z-index: -1;
        transition: all 0.3s;
        left: 0;
        top: 0;
    }
    img{
        width: 1.5625vw;
        min-width: 20px;
        max-width: 30px;
    }
    
    &:hover::after{
        width: 100%;
    }
}

// $dot-wid-xxl: 13px/1125px;
$dot-wid-xxxxl: 1.16vw;
// $dot-wid-xxl: 12px/1125px;
$dot-wid-xxxl: 1.067vw;
// $dot-wid-xxl: 9px/1920px;
$dot-wid-xxl: 0.46875vw;
// $dot-wid-xl: 8px;
$dot-wid-xl: 0.4166vw;
// $dot-wid-lg: 6px;
$dot-wid-lg: 0.3125vw;
// $dot-wid-md: 4px;
$dot-wid-md: 0.208vw;
// $dot-wid-sm: 3px;
$dot-wid-sm: 0.15625vw;
// $dot-wid-xs: 2px;
$dot-wid-xs: 0.104vw;
.bg-dots-con{
    width: 100%;
    max-width: 1920px;
    box-sizing: border-box;
    margin: auto;
    min-height: auto;
    height: 100%;
    top: 0;
    padding: 10px 2px;
    position: absolute;
    top: 0;
    left: 0;
    @include responsive($lg){
        padding: 10px 7px;
    }
    @include responsive($sm){
        min-height: auto;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        padding: 7px 3px;
    }
    
    .dot{
        width: $dot-wid-xxl;
        height: $dot-wid-xxl;
        border-radius: 50%;
        margin: 0.72vw;
        display:inline-block;
        position:relative;
        @include responsive($sm){
            width: $dot-wid-xxxxl;
            height: $dot-wid-xxxxl;
            margin: 1.8vw;
        }
    }
    .dot.dot-xl{
        width: $dot-wid-xl;
        height: $dot-wid-xl;
        margin: 0.746vw;

        @include responsive($sm){
            width: $dot-wid-xxxl;
            height: $dot-wid-xxxl;
            margin: 1.893vw !important;  
        }
    }
    .dot.dot-lg{
        width: $dot-wid-lg;
        height: $dot-wid-lg;
        margin: 0.776vw;
        @include responsive($sm){
            width: $dot-wid-xxl;
            height: $dot-wid-xxl;
            margin: 2.1923vw !important;  
        }
    }
    .dot.dot-md{
        width: $dot-wid-md;
        height: $dot-wid-md;
        margin: 0.876vw;
        @include responsive($sm){
            width: $dot-wid-xl;
            height: $dot-wid-xl;
            margin: 2.22vw !important;  
        }
    }
    .dot.dot-sm{
        width: $dot-wid-sm;
        height: $dot-wid-sm;
        margin: 0.931vw;
    }
    .dot.dot-xs{
        width: $dot-wid-xs;
        height: $dot-wid-xs;
        margin: 0.95395vw;
    }
   
    .dot.dot-trans{
        background: transparent;
    }
    .dot.dot-blue-d{
        background: #004cba;
    }
    .dot.dot-blue-l{
        background: #039dd9;
    }
    .dot.dot-purp-d{
        background: #4c0282;
    }
    .dot.dot-purp-l{
        background: #8a24d2;
    }
    .dot.dot-vlt{
        background: #06edf7;
    }
    .dot.dot-pink-l{
        background: #f44da8;
    }
    .dot.dot-pink-d{
        background: #bd2782;
    }
    .dot.dot-green-l{
        background: #70ce23;
    }
    .dot.dot-green-d{
        background: #49a00c;
    }
    .dot.dot-orng{
        background: #fcbb00;
    }
    .dot.dot-orng-d{
        background: #da4812;
    }

    .dots{
        &-col{
            display: flex;
            flex-direction: column;
            // opacity: 0;
            // animation: showDots 2s;
            // animation-fill-mode: forwards;
        }
        &-row{
            display: flex;
            flex-direction: row;
            align-items: center;
            opacity: 0;
            animation: showDots 2s;
            animation-fill-mode: forwards;
            .dot.dot-lg{
                margin: 0.832vw;
            }
            .dot.dot-lg{
                margin: 0.832vw;
            }
            .dot.dot-md{
                margin: 0.856vw
            }
            .dot.dot-sm{
                margin: 0.931vw;
            }
            .dot.dot-xs{
                margin-left: 17px;
                margin-top: 16px;
            }
        }
        
    }
}
.dots-lg{
    min-height: auto;
    padding-bottom: 0;
}
.header-dots{
    @include responsive($lg){
        padding-top: 0;
    }
}
.header-dots-sm{
    z-index: 1;
}
.row-xxl{
    @include responsive($xl){
        display: none;
    }
}
.row-xl{
    display: none !important;
    @include responsive($xl){
        display: flex !important;
    }
}
.top50{
    margin-top: 50vh;
}
.top52{
    margin-top: 52vh;
}
.top53{
    margin-top: 53vh;
}
.top54{
    margin-top: 54vh;
}
.top54-5{
    margin-top: 54.5vh;
}
.top55{
    margin-top: 55vh;
}
.top100{
    margin-top: 100vh;
}
.h91vh{
    @include responsive($xxl){
        height: 91vh;
    }
}

@keyframes showDots{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



// Main Content Styles 
.main-wrapper{
    width: 100vw;
    max-width: 1920px;
    overflow-x: hidden;
    position: relative;
    top: 0;
    left: 0;

    @include responsive($sm){
        padding:0;
    }
}
.hero-section{
    position: relative;
}
header{
    padding: 33px;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;

    @include responsive($xxl){
        padding: 28px 10px 28px 25px;
    }
    @include responsive($xl){
        padding: 20px 0 20px 20px;
    }
    @include responsive($sm){
        padding: 12.6% 6.5% 0;
        min-height: 99vh;
    }

    nav.navbar{
        position: relative;
        z-index: 2;
        
        .logo{
            width: 20.5%;
            @include responsive($lg){
                width: 50%;
            }
            @include responsive($sm){
                width: 80%;
                margin: auto;
            }
            
            img{
                width: 100%;
                object-fit: contain;
                object-position: left center;
            }
        }
        a.nav-link{
            color: $primary-txt-color;
            font-family: $primary-font, sans-serif;
            font-size: clamp(13px, 1.04vw, 20px);

            @include responsive($lg){
                font-size: 26px;
            }
            @include responsive($sm){
                font-size: 20;
            }
            i{
                font-size: 26px;
            }
            &:hover{
                color: #885df3;
            }
        }

        .nav-menu{
            @include responsive($lg){
                background: rgba(0,0,0,0.8);
                padding: 20px;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;

                ul li{
                    margin: 10px 0;
                    text-align: center;
                    display: flex;
                    justify-content: center;

                    a{
                        margin: 0 10px;
                    }
                }
            }
        }
        .navbar-toggler .navbar-toggler-icon{
            background-image: url("../images/icons/togger-icon.png") !important;
        }
        .tab-toggler{
            @include responsive($lg){
                display: block;
            }
            @include responsive($sm){
                display: none;
            }
        }
        .mobile-toggler{
            @include responsive($lg){
                display: none;
            }
            @include responsive($sm){
                display: block;
            }
        }
    }

    .bg-video-cont{
        width: 82%;
        height: calc(100vh - 50px);
        overflow: hidden;
        position: absolute;
        z-index: -2;
        top: 40px;
        left: 52%;
        transform: translateX(-50%);

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
        
        video{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
        @include responsive($lg){
            width: 100%;
            top: 0;
        }
        @include responsive($sm){
            // width: 150%;
            // top: -60px;
            // left: 54%;
            width: 94%;
            top: -60px;
            left: 50%;
        }
    }

    .header-text-cont{
        width: 36%;
        height: calc(100vh - 245px);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 53px;
        position: relative;
        z-index: 2;

        @include responsive($xl){
            height: calc(100vh - 160px);
        }
        @include responsive($lg){
            width: 80%;
        }
        @include responsive($sm){
            width: 100%;
            padding-left: 0;
            height: calc(100vh - 245px);
        }
        @include responsive($xs){
            height: calc(100vh - 210px);
        }
        @include responsiveMaxHeight(800px){
            height: calc(100vh - 170px);
        }

        p{
            @include responsive($sm){
                width: 92%;
            }
        }
    }
}

.get-ameta-dots{
    height: 100%;
    padding-top: 16.5vw;

    @include responsive($xxl){
        min-height: 109vh;
    }
    @include responsive($xl){
        min-height: 139.5vh;
    }
    @include responsive($lg){
        min-height: 96vh;
    }
}
.get-ameta-dots-sm{
    margin-top: 1%;
}
.ms-3col{
    margin-left: -2vw;
}
.ms-1col{
    margin-left: 0;
}
.ms-2col{
    margin-left: 1.9vw;
}
#get-ameta{
    width: 100vw;
    min-height: 95vh;
    position: relative;
    z-index: 2;
    @include responsiveHeight($hxl){
        min-height: 96vh;
    }
    @include responsive($xxl){
        min-height: 109vh;
    }
    @include responsive($xl){
        min-height: 140vh;
    }
    @include responsive($lg){
        min-height: 100vh;
    }
    @include responsive($sm){
        padding: 0 6.5%;
    }
    

    .get-ameta-sec{
        width: 68.5%;
        margin: auto;
        // min-height: 110vh;
        position: relative;
        display: flex;
        align-items: flex-start;
        
        @include responsive($lg){
            flex-wrap: wrap;
            width: 68%;
        }
        @include responsive($sm){
            width: 100%;
        }

        .section-text{
            width: 60%;
            height: auto;
            position: relative;
            margin-top: 27.5%;

            @include responsive($lg){
                width: 100%;
                margin-top: 40%;
            }
            @include responsive($sm){
                width: 100%;
                margin-top: 6%;
            }

            p{
                padding-left: 30px;
                position: relative;
                margin-top: 45px;
                width: 95%;
                font-size: clamp(14px, 0.9375vw,18px);

                @include responsive($lg){
                    margin-left: 2%;
                }
                @include responsive($xl){
                    margin-top: 40px;
                    width: 100%;
                    font-size: clamp(14px, 0.7vw,18px);
                }
                @include responsive($sm){
                    font-size: 14px;
                    line-height: 20px;
                    padding-left: 15px;
                    margin-top: 5px;
                    margin-left: 0;
                }

                &::before{
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 100%;
                    background: #fff;
                    border-radius: 4px;
                    left: 0;
                    top: 0;
                }
            }
            

        }

        .section-card{
            margin-left: 5%;
            background: url(../images/swap-card-bg.png);
            padding: 16px 34px 0;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: top center;
            min-width: 295px;
            width: 20.4vw;
            max-width: 393px;
            height: 27.1874vw;
            min-height: 392px ;
            max-height: 522px;
            margin-top: 20%;
            position: relative;
            @include responsive($xl){
                width: 25vw;
                height: 35vw;
            }
            @include responsive($lg){
                width: 40vw;
                min-width: auto;
                min-height: auto;
                margin-top: 0;
                height: 60vw;
                margin-left: 30%;
            }
            @include responsive($sm){
                width: 87vw;
                min-width: auto;
                min-height: auto;
                margin-top: 0;
                height: auto;
                margin-left: 0;
            }
            @include responsive($xs){
                height: auto;
            }

            p{
                font-size: clamp(16px, 1.12vw ,23px);
                color: #000;
                text-align: center;
            }
            label{
                font-family: $secondary-font;
                font-size: 16px;
            }
            .card-title{
                h3{
                    font-size: clamp(24px, 2.08vw ,40px);
                    text-align: center;
                    font-family: $primary-font;
                }
                
            }

            .divider{
                width: 100%;
                height: 4px;
                background-color: #000;
                border-radius: 1.53px;
                @include responsive($xxl){
                    height: 3px;
                }
                @include responsive($lg){
                    height: 2px;
                }
            }

            .swap-btn-con{
                margin: 1rem 0;

                @include responsive($xxl){
                    margin: 0rem 0 1rem 0;
                }
                @include responsive($sm){
                    margin: 2rem 0 2.9rem 0;
                }
                @include responsive($xs){
                    margin: 0.6rem 0 1rem 0;
                }
                .swap-btn{
                    background: transparent;
                    border: 0;
                    outline: none;
    
                    &:focus{
                        outline: none;
                    }
                }    
            }
            .swap-input-con{
                background: #000;
                border-radius: 50px;
                position: relative;
                display: flex;
                align-items: center;
                .input-icon{
                    min-width: 40px;
                    width: 2.604vw;
                    max-width: 50px;
                    margin-left: 2px;
                    margin-right: 5px;
                    @include responsive($xxl){
                        height: 38px;
                    }

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        object-position: center;
                    }
                }
                .input-label{
                    font-family: $secondary-font;
                    font-size: clamp(16px, 1.12vw ,23px);
                    color: #fff;
                }
                ::placeholder{
                    color: #fff;
                    font-family: $secondary-font;
                    font-size: clamp(16px, 1.12vw ,23px);
                }
                input{
                    width: 57%;
                    position: relative;
                    text-align: right;
                    color: #fff;
                    background: transparent;
                    border: 0;
                    outline: none;
                    font-size: clamp(16px, 1.12vw ,23px);

                    &:active, &:focus{
                        outline: none;
                    }
                }
            }

            .connect-wallet-btn{
                font-size: clamp(17px, 1.35vw ,26px);
                font-family: $primary-font;
                color: #000;
                background: #fff;
                border: 4px solid #000;
                border-radius: 50px;
                width: 80%;

                @include responsive($xxl){
                    font-size: clamp(17px, 1.25vw ,20px);
                }
            }
            .gass-fee-label{
                font-size: clamp(13px, 0.833vw ,16px);
                text-align: center;
            }
        }

        .ameta-address{
            width: auto;
            display: inline-block;
            height: auto;
            padding: 0 30px 0 0.2vw;
            border-radius: 9.5px;
            background: #fff;
            position: relative;
            margin-top: 30px;
            margin-left: 10px;
            
            @include responsive($xxl){
                margin-top: 10px;
            }
            @include responsive($sm){
                padding: 0 10px 0 5vw;
            }

            .address-icon{
                position: absolute;
                width: auto;
                height: 2.761vw;
                left: -24px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 2;

                // @include responsive($xxl){
                //     height: 230%;
                // }
                @include responsive($lg){
                    height: 6vw;
                }
                @include responsive($sm){
                    width: 10vw;
                    height: 10vw;
                    left: -5vw;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }
            
            p{
                color: #000;
                margin: 0;
                width: 100%;
                font-size: clamp(13px, 0.834vw,16px);
                @include responsive($xl){
                    font-size: 11px;
                }
                @include responsive($sm){
                    font-size: 7.8px;
                }
                @include responsive(390px){
                    font-size: 7px;
                }

                &::before{
                    content: none;
                }
            }
        }
        .polygon-btn-con{
            margin-top: 35px;
            @include responsive($xxl){
                margin-top: 25px;
            }
            @include responsive($sm){
                width: 100%;
            }
            .button-primary {
                @include responsive($sm){
                    width: 100%;
                    font-size: clamp(12px, 5.33vw, 15px);
                }
            }
        }

    }
    
}

.play-games-dots{
    height: 100%;
    padding-top: 25%;
    padding-bottom: 0;
    @include responsive($xxl){
        padding-top: 26%;
        min-height: 96vh;
    }
    @include responsive($lg){
        min-height: 85vh;
    }
}
.play-games-dots-sm{
    margin-top: 0.5%;
}
.btn-slider-nav{
    cursor: pointer;

    @include responsive($sm){
        width: 25px;

        img{
            width: 100%;
            object-fit: contain;
        }
    }
}
#play-games{
    @include responsive($xs){
        margin-top: 12%;
    }
    position: relative;
    .play-games-sec{
        width: 100%;
        padding-left: 14%;
        box-sizing: border-box;
        min-height: 113vh;
        display: flex;
        // align-items: center;
        overflow: hidden;
        position: relative;

        @include responsiveHeight($hxl){
            min-height: 114vh;
        }
        @include responsive($xxl){
            min-height: 110vh;
        }
        @include responsive($xl){
            min-height: 126vh;
        }
        @include responsive($lg){
            flex-wrap: wrap;
            min-height: 87vh;
        }
        @include responsive($sm){
            padding-left: 6.5%;
        }
        .section-text{
            width: 33%;
            margin-top: 15%;
            height: 100%;
            @include responsive($xl){
                margin-top:12%;
            }
            @include responsive($lg){
                width: 95%;
                margin-top:12%;
            }
            @include responsive($sm){
                width: 100%;
                padding-right: 6.5%;
                margin-top: 5%;
            }

            p{
                width: 97%;
                font-size: clamp(14px,0.9375vw,18px);
                position: relative;
                padding-left: 20px;
                margin-top: 10px;

                @include responsive($xxl){
                    width: 98%;
                }
                @include responsive($xl){
                    width: 100%;
                    line-height: 20px
                }

                span{
                    color: #ff0000;
                }
                &::before{
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 100%;
                    background: #fff;
                    border-radius: 4px;
                    left: 0;
                    top: 0;
                }
            }
        }
        .game-cards-con{
            width: 67%;
            padding-left: 2%;
            padding-top: 0;
            @include responsive($lg){
                width: 100%;
            }

            ul.game-cards-crsl{
                list-style:none;
                height: 80vh !important;
                display: flex;
                align-items: center;
                padding-left: 1%;

                @include responsive($xxl){
                    height: 80vh !important;
                }
                @include responsive($xl){
                    height: 86vh !important;
                }
                @include responsive($lg){
                    height: 48vh !important;
                }
                @include responsive($sm){
                    height: 56vh !important;
                }
                @include responsive($xs){
                    height: 53vh !important;
                }
                @include responsiveMaxHeightxs(700px){
                    height: 63vh !important;
                }
                // margin-top: 0;
                // .slide-item{
                //     transform: scale(1.05);
                // }
                .item-card{
                    width: 20.5vw;
                    min-width: 200px;
                    // height:310px;
                    border-radius: 10px;
                    display: flex;
                    box-sizing: border-box;
                    margin: 0px 10px;
                    position: relative;
                    overflow: hidden;

                    @include responsive($lg){
                        width: 29vw;
                    }
                    @include responsive($sm){
                        width: 59vw;
                    }
                    @include responsive($xs){
                        width: 56vw;
                    }
                    img{
                        width: 100%;
                        object-fit: contain;
                        
                    }
                    .card-data-con{
                        width: 90%;
                        margin: auto;
                        margin-top: 30px;
                        margin-left: 2%;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        display: none;

                        @include responsive($sm){
                            margin-top: 15px;
                            margin-left: 2%;
                            height: 40%;
                        }
                        
                        .card-data{
                            .data-icon{
                                width: 33px;
                                margin-right: 4px;
                                img{
                                    width: 100%;
                                    object-fit: contain;
                                }
                            }
                            .data-text{
                                h6{
                                    font-size: clamp(9px,0.83vw,16px);
                                    font-family: $primary-font;
                                    margin: 0;
                                    line-height:clamp(12px,0.83vw,16px);

                                    @include responsive($sm){
                                        font-size: 8px
                                    }
                                    @include responsive($xs){
                                        font-size: 7px
                                    }
                                }
                                p{
                                    margin: 0;
                                    font-size: clamp(7px,0.573vw,11.6px);
                                    line-height: clamp(9px,0.573vw,11.6px);
                                    @include responsive($sm){
                                        font-size: 5px
                                    }

                                }
                            }
                            .item-1,.item-3{
                                .data-icon{
                                    width: 33px;
                                    @include responsive($sm){
                                        width: 26px;
                                    }
                                }
                            }
                            .item-2{
                                .data-icon{
                                    width: 33px;
                                    @include responsive($sm){
                                        width: 26px;
                                    }
                                }
                            }
                        }
                    }

                    
                    .slide-card-btn{
                        position: absolute;
                        bottom: 20px;
                        left: 50%;
                        transform: translateX(-50%);
                        display: none;
                        

                        @include responsive($sm){
                            bottom: 25px;
                        }
                        @include responsive($xs){
                            bottom: auto;
                            top:84%;
                            padding-top: 15px;
                        }
                        a{
                            font-size: clamp(17px,1.6vw,32px);
                            color: #fff;
                            font-family: $primary-font;
                            padding: 3px 10px;
                            min-width: 10.6vw;
                            display: inline-block;
                            text-align: center;
                            border-radius: 20px;
                            border: 1.5px solid #fff;
                            background: #000;
                            position: relative;

                            &.disabled{
                                pointer-events: none;
                            }

                            @include responsive($lg){
                                width: 180px;
                            }
                            @include responsive($sm){
                                width: 48vw;
                                font-size: 9px;
                            }
                            @include responsive($xs){
                                font-size: 8px;
                            }
                            .btn-icon{
                                position: absolute;
                                display: inline-block;
                                width: 2vw;
                                min-width: 24px;
                                max-width: 38px;
                                right: 20px;
                                img{
                                    width: 100%;
                                    object-fit: contain;
                                }
                            }
                        }
                        &.cs{
                            a{
                                font-size: clamp(15px,1.2vw,25px);
                                @include responsive($sm){
                                    font-size: 8px;
                                }
                            }
                        }
                    }

                }
                .slide-item.active{
                    transform: scale(1.1);
                    margin-right: 60px !important;

                    @include responsive($xxl){
                        margin-right: 50px !important;
                    }
                    @include responsive($lg){
                        margin-right: 30px !important;
                    }

                    .slide-card-btn{
                        display: block;
                    }
                    .card-data-con{
                        display: block;
                    }
                }
            }
            
        }
    }
}

.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}
// slider navigation dots styles 
.lSSlideOuter .lSPager.lSpg{
    display: flex;
    text-align: left;
    padding-left: 20px;
    align-items: center;
    margin-top: -2% !important;

    li{
        padding: 0 18px;

        @include responsive($xxl){
            padding: 0 16px;
        }
        @include responsive($sm){
            padding: 0 9px;
        }
        @include responsive($xs){
            padding: 0 7px;
        }
        a{
            width: 0.989vw;
            min-width: 9px;
            max-width: 19px;
            height: 0.989vw;
            min-height: 9px;
            max-height: 19px;
            background-color: #fff;
            border-radius: 50%;
        }
        &.active{
            a{
                width: 2.08vw;
                height: 2.08vw;
                min-width: 20px;
                max-width: 40px;
                min-height: 20px;
                max-height: 40px;
                
                border: 10px solid #5a5a5a;
                background-color: #fff;

                @include responsive($sm){
                    margin-top: 5px;
                    border: 5px solid #5a5a5a;
                }
            }
        }
    }
}

.roadmap-dots{
    padding-top: 0;
    // padding-bottom: 0;
    height: 100%;
}
.roadmap-dots-sm{
    margin-top: 1%;
}
#roadmap{
    position: relative;
    overflow: hidden;
    @include responsive($sm){
        margin-top: 15%;
    }
    @include responsive($xs){
        margin-top: 17%;
    }

    .roadmap-sec{
        width: 80%;
        margin-left: 12.5%;
        padding-top:3.1%;

        @include responsive($sm){
            width: 100%;
            margin-left: 0;
            padding: 0 6.5%;
            padding-top: 5%;
        }

        .section-title{
            padding-left:0;
            @include responsive($sm){
                padding-left: 6px;
            }
        }

        .roadmap-timeline{
            position: relative;
            padding-left: 1%;
            @include responsive($sm){
                padding-left: 17%;
            }

            .cloud-img-items{
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 100%;
                display: flex;

                .cloud-img-item{
                    position: absolute;

                    &:hover{
                        animation: shake 0.5s infinite;
                    }

                    &.item-1{
                        width: 10.1vw;
                        min-width: 185px;
                        max-width: 193px;
                        top: 36%;
                        left: -2%;

                        @include responsive($lg){
                            top: 55%;
                            left: 60%;
                        }
                        @include responsive($sm){
                            min-width: 90px;
                            top: 55%;
                            left: 53%;
                        }
                        
                    }
                    &.item-2{
                        width: 190px;
                        width: 9.9vw;
                        min-width: 180px;
                        max-width: 190px;
                        left: 25%;
                        top: 3%;
                        @include responsive($lg){
                            top: -2%;
                            left: 55%;
                        }
                        @include responsive($sm){
                            min-width: 90px;
                            top: -3%;
                            left: 50%;
                        }
                    }
                    &.item-3{
                        width: 11.04vw;
                        min-width: 196px;
                        max-width: 212px;
                        left: 53%;
                        top: 14%;
                        @include responsive($lg){
                            top: 25%;
                            left: 0;
                        }
                        @include responsive($sm){
                            min-width: 80px;
                            top: 25%;
                            left: 0;
                        }
                    }
                    &.item-4{
                        width: 10.4vw;
                        min-width: 190px;
                        max-width: 200px;
                        right: 3%;
                        top: 35%;

                        @include responsive($lg){
                            top: 77%;
                            right: 52%;
                        }
                        @include responsive($sm){
                            min-width: 85px;
                            top: 80%;
                            right: 58%;
                        }
                    }

                    img{
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }

            .timeline-item{
                min-height: 20.5vh;

                @include responsive($lg){
                    min-height: 10vh;
                }

                @include responsive($lg){
                    min-height: 8vh;
                }
                @include responsive($sm){
                    min-height: 7.4vh;
                }
                @include responsiveMinHeight(840px){
                    min-height: 7.1vh !important;
                }
                @include responsiveMinHeightxs(800px){
                    min-height: 6.7vh !important;
                }
                
                .item-text{
                    h3{
                        font-size: clamp(17px, 2.08vw, 40px);
                        font-family: $primary-font;
                        color: #fff;
                        line-height: 26px;
                        @include responsive($sm){
                            font-size: clamp(9px, 3.5vw, 15px);
                        }
                    }
                    ul{
                        list-style: none;
                        padding: 0;

                        li{
                            font-size: clamp(14px, 1.04vw, 20px);
                            font-family: $primary-font;
                            color: #fff;

                            @include responsive($sm){
                                font-size: clamp(7px, 2.2vw, 11px);
                            }
                        }
                    }
                }
            }

            .col3{
                .itemQ3{
                    grid-area: itemQ3;
                }
                .itemQ4{
                    grid-area: itemQ4;
                }
                @include responsive($lg){
                    display: grid;
                    grid-template-areas: 'itemQ3'
                                       'itemQ4';
                } 
            }
        }
        
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.faq-dots{
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    padding-right: 20px;
}
#FAQ{
    min-height: 180vh;
    padding-top: 35vh;
    position: relative;

    @include responsive($xxl){
        min-height: 152vh;
        padding-top: 17vh;
    }
    @include responsive($xl){
        min-height: 170vh;
        padding-top: 25vh;
    }
    @include responsive($lg){
        min-height: 80vh;
        padding-top: 16vh;
    }
    @include responsive($sm){
        min-height: 100vh;
        padding-top: 29%;
    }
    // @include responsiveMinHeight(840px){
    //     min-height: 100vh;
    //     padding-top: 29%;
    // }
    .faq-sec{
        width: 60%;
        margin: auto;
        @include responsive($lg){
            width: 85%;
        }
        @include responsive($sm){
            width: 100%;
            padding: 0 6.5%;
        }
        .section-title{
            h2{
                @include responsive($sm){
                    text-align: left;
                    width: 50%;
                }
            }
        }

        .section-title{
            text-align: center;
        }

        .faq-dropdowns-con{
            width: 70%;
            margin: auto;
            margin-top: 50px;

            @include responsive($lg){
                margin-top: 30px;
            }
            @include responsive($sm){
                width: 95%;
                margin-top: 20%;
            }

            .accordion-item{
                background-color: #000;
                border-top: 1px solid #fff;

                &:last-child{
                    border-bottom: 1px solid #fff;
                }
                p{
                    @include responsive($lg){
                        font-size: 12px;
                        line-height: 17px;
                    }
                }
                .accordion-button{
                    background-color: transparent;

                    @include responsive($lg){
                        font-size: 14px;
                    }
                    @include responsive($sm){
                        padding: 1rem 0;
                    }
                }
                .accordion-button.collapsed{
                    color: #fff;
                }
                .accordion-button:not(.collapsed){
                    color: #fff;
                    background-color: transparent;
                }
                .accordion-button:focus{
                    outline: none;
                    box-shadow: none;
                    border: none;
                }
                .accordion-button::after{
                    background-image: url(../images/icons/plus.png);
                    @include responsive($lg){
                        background-size: 80%;
                        background-position: center;
                    }
                }
                .accordion-button:not(.collapsed)::after{
                    background-image: url(../images/icons/minus.png);
                    @include responsive($lg){
                        background-size: 80%;
                        background-position: center;
                    }
                }
            }
        }
    }
}

footer{
    padding: 25px 0;
    @include responsive($xxl){
        margin-top: 3%;
    }

    .footer-sec{
        width: 77.8%;
        margin: auto;

        @include responsive($sm){
            width: 88%;
        }
        .footer-logo{
            width: 100%;
            margin: auto;
            img{
                width: 100%;
                object-fit: contain;
            }
            @include responsive($sm){
                width: 94%;
            }
        }

        .footer-content{
            .footer-col{
                h4{
                    font-size: clamp(15px, 1.145vw, 22px);
                    color: #fff;
                    font-family: $primary-font;
                    text-transform: uppercase;
                }
                ul li{
                    margin: 10px 0;
                    font-size: clamp(13px, 0.9375vw, 18px);
                    @include responsive($sm){
                        margin: 0;
                    }
                }
                .social-menu{
                    a{
                        font-size: 28px;
                        width: 40px;
                        height: 40px;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;

                        img{
                            width: 70%;
                            height: 70%;
                            object-fit: contain;
                            object-position: center;
                        }
                    }
                }
                .newsletter-form-con{
                    form{
                        position: relative;
                        width: 80%;
                        margin-left: auto;

                        @include responsive($lg){
                            margin: auto;
                        }
                        @include responsive($sm){
                            width: 100%;
                        }

                        input{
                            width: 100%;
                            position: relative;
                            height: 41px;
                            color: #fff;
                            font-size: clamp(14px, 0.9vw, 18px);
                            font-family: $secondary-font;
                            background: transparent;
                            outline: none;
                            border: 1.5px solid #fff;
                            border-radius: 50px;
                            padding: 2px 15px;

                            &::placeholder{
                                color: #fff;
                                font-size: clamp(14px, 0.9vw, 18px);
                                font-family: $secondary-font;
                            }
                        }
                        .submit-btn{
                            background: transparent;
                            width: 41px;
                            height: 41px;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            border: 1px solid #fff;
                            position: absolute;
                            top: 0;
                            right: 0;
                            z-index: 2;

                            img{
                                width: 70%;
                                object-fit: contain;
                                object-position: center;
                            }
                        }
                    }
                }
                
            }
            
        }

        .bg-dots-con{
            height: auto;
            min-height: auto;
        }
        .copyrights{
            a{
                font-size: clamp(13px, 0.9375vw, 18px);
            }
            p{
                font-size: clamp(13px, 0.9375vw, 18px);
                margin: 0;
            }
            .copyright-links{
                @include responsive($sm){
                    width: 88%;
                    margin: auto;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}


// ------------------------------------
// Animations 
// ====================================
.fadeInUp, .fadeInDown, .fadeInRight,.fadeInLeft, .fadeIn, .slideDown, .slideUp{
    opacity: 0;
    transition: all 0.2s;
}

.slide{
    &-up{
        animation: slideUp 1s 0.4s !important;
        animation-fill-mode: both !important;
    }
    &-down{
        animation: slideDown 2s 0.4s !important;
        animation-fill-mode: both !important;
    }
}
.fade{
    &-up{
        animation: fadeInUp 1s !important;
        animation-fill-mode: both !important;
        &._1s{
            animation-delay: 1s !important;
        }
    }
    &-down{
        animation: fadeInDown 1.5s  !important;
        animation-fill-mode: both !important;
        &._1s{
            animation-delay: 1s !important;
        }
        &._1{
            animation-delay: 0.5s !important;
        }
        &._2{
            animation-delay: 0.7s !important;
        }
        &._3{
            animation-delay: 0.9s !important;
        }
        &._4{
            animation-delay: 1s !important;
        }
        &._5{
            animation-delay: 1.2s !important;
        }
        &._6{
            animation-delay: 1.3s !important;
        }
    }
    &-right{
        animation: fadeInRight 1s !important;
        animation-fill-mode: both !important;
        &._1{
            animation-delay: 0.1s !important;
        }
        &._2{
            animation-delay: 0.2s !important;
        }
        &._3{
            animation-delay: 0.3s !important;
        }
    }
    &-left{
        animation: fadeInLeft 1s 0.4s !important;
        animation-fill-mode: both !important;
        &._1{
            animation-delay: 0.1s !important;
        }
        &._2{
            animation-delay: 0.2s !important;
        }
        &._3{
            animation-delay: 0.3s !important;
        }
    }
    &-in{
        animation: fadeIn 1s 0.5s !important;
        animation-fill-mode: both !important;
        &._1{
            animation-delay: 0.1s;
        }
        &._2{
            animation-delay: 0.4s;
        }
        &._3{
            animation-delay: 0.6s;
        }
        &._4{
            animation-delay: 3s;
        }
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
       transform: translateX(-50%) translateY(50px);
       @include responsive($sm){
            transform: translateX(-50%) translateY(10px);
        }
    }
    100% {
        opacity: 1;
       transform: translateX(-50%) translateY(0);
    }
 }
@keyframes slideDown {
    0% {
        opacity: 0;
       transform: translateX(-50%) translateY(-50px);
       @include responsive($sm){
            transform: translateX(-50%) translateY(-5px);
       }
    }
    100% {
        opacity: 1;
       transform: translateX(-50%) translateY(0);
    }
 }
@keyframes fadeInUp {
    0% {
       opacity: 0;
       transform: translateY(100px);
       filter: blur(5px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
       filter: blur(0);
    }
 }
@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-50px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }
@keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(-200px);
       filter: blur(5px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
       filter: blur(0);
    }
 }
@keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(50%);
       filter: blur(5px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
       filter: blur(0);
    }
 }
@keyframes fadeIn {
    0% {
       opacity: 0;
       filter: blur(5px);
    }
    100% {
       opacity: 1;
       filter: blur(0);
    }
 }



//  ===================================
//  ----- Sub Pages Styles ------------
//  ===================================
.sub-page-wrapper{
    .bg-dots-con{
        height: 50vh;
    }

    .sub-page-hero-sec{
        header{
        min-height: auto;
    }
    }
    .page-content-con{
        width: 90%;
        margin: auto;
        margin-top: 3%;
        position: relative;
        z-index: 1;

        &.m-extra{
            margin-top: 5%;
            @include responsive($sm){
                margin-top: 15%;
            }
        }
        @include responsive($sm){
            margin-top: 13%;
        }
        .page-title{
            margin-bottom: 5%;
            position: relative;
            padding: 8px 0;
            @include responsive($sm){
                margin-bottom: 13%;
            }
            
            h2{
                position: relative;
                display: inline-block;

                &::after{
                    content: "";
                    position: absolute;
                    left: 50%;    
                    transform: translateX(-50%);
                    top: 100%;
                    width: 110%;
                    height: 8px;
                    background: #fff;
                    border-radius: 10px;
                    z-index: 1;
                    @include responsive($xl){
                        height: 6px;
                    }
                    @include responsive($sm){
                        height: 5px;
                    }
                }
            }
        }
        .page-content{
            width: 70%;
            margin: auto;
            @include responsive($sm){
                width: 85%;
            }

            
        }
    }

    footer{
        .bg-dots-con{
            height: auto;
        }
    }
}

// ----------------------
// Game Page styles 
// ----------------------
.main-page-wrapper{
    position: relative;
    .bg-dots-wrapper{
        position: relative;
        height: 100vh;
    
        .bg-dots-con{
            padding: 10px;
        }
    }
    .page-content-wrapper{
        padding: 33px;
        position: absolute;
        width: 100%;
        top: 0;
        @include responsive($xl){
            padding: 20px;
        }
        nav.navbar{
            position: relative;
            z-index: 2;
            
            .logo{
                width: 20.5%;
                margin-left: 0.6%;
                @include responsive($lg){
                    width: 50%;
                }
                @include responsive($sm){
                    width: 80%;
                    margin: auto;
                }
                
                img{
                    width: 100%;
                    object-fit: contain;
                    object-position: left center;
                }
            }
    
        }
        .page-content{
            height: calc(100vh - 135px);
            h2{
                font-size: 30px;
                @include responsive($xxl){
                    font-size: 26px;
                }
                @include responsive($xl){
                    font-size: 18px;
                }
            }
            p{
                font-size: 17px;
                @include responsive($xxl){
                    font-size: 15px;
                    line-height: 20px;
                }
                @include responsive($xl){
                    font-size: 12px;
                    line-height: 18px;
                }
            }
            .left-side-content{
                width: 15%;
                .game-data-con{
                    width: 100%;

                    @include responsive($sm){
                        margin-top: 15px;
                        margin-left: 2%;
                        height: 40%;
                    }
                    
                    .game-data{
                        .data-icon{
                            width: 33px;
                            margin-right: 4px;
                            img{
                                width: 100%;
                                object-fit: contain;
                            }
                        }
                        .data-text{
                            h6{
                                font-size: 25px;
                                font-family: $primary-font;
                                margin: 0;
                                line-height: 26px;
                                color: #fff;
                                @include responsive($xxl){
                                    font-size: 18px;
                                }
                                @include responsive($xl){
                                    font-size: 12px;
                                    line-height: 14px;
                                }
                            }
                            p{
                                margin: 0;
                                font-size: 18px;
                                line-height: 18px;
                                @include responsive($xl){
                                    font-size: 12px;
                                    line-height: 15px;
                                }

                            }
                        }
                        .item-1,.item-2,.item-3{
                            .data-icon{
                                width: 47px;
                                @include responsive($xl){
                                    width: 38px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#unity-footer{
    padding-top: 30px;
    h2{
        font-size: 40px;
        color: #000;
        -webkit-text-stroke: 2px #fff;
        paint-order: stroke fill;
        margin: 0;
        @include responsive($xxl){
            font-size: 36px;
        }
        @include responsive($xl){
            font-size: 28px;
        }
    }
    p{
        font-size: 17px;
        width: 90%;
        @include responsive($xxl){
            font-size: 15px;
            line-height: 18px;
        }
        @include responsive($xxl){
            font-size: 12px;
            line-height: 18px;
        }
    }
    .bg-dots-con{
        width: 102%;
        left: -1%;
    }
}