$xxl : 1680px;
$xl : 1366px;
$lg : 992px;
$md : 768px;
$sm : 482px;
@mixin responsive($query) {
    @media ( max-width: $query ) {
        @content;
    }
}
@font-face {
    font-family: 'GoGoHack';
    src: url(../fonts/GoGoHack.ttf) ;
}
@font-face {
    font-family: 'CasCadia';
    src: url(../fonts/Cascadia.ttf) ;
}
$primary-bg: #000000;
$primary-txt-color: #fff;
$primary-font: 'GoGoHack';
$secondary-font: 'CasCadia';
html::-webkit-scrollbar{
    display: none;
}

// global styles 
*{
    box-sizing: border-box;
}
a, a:hover{
    text-decoration: none;
    color: $primary-txt-color;
}
body{
    margin: 0;
    background-color: $primary-bg;
}
h2{
    font-family: $primary-font;
    font-size: clamp(26px, 3.65vw, 70px);
    color: $primary-txt-color;
    @include responsive($sm){
        font-size: 32px;
    }
}
p{
    font-family: $secondary-font;
    font-size: clamp(14px,  0.886vw, 17px);
    line-height: 26px;
    color: $primary-txt-color;
    @include responsive($sm){
        font-size: 14px;
    }
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
        color: #fff;
        font-family: $secondary-font;
    }
}
.cookie-popup{
    position: absolute;
    width: 100vw;
    height: 133px;
    background-color: #fff;
    bottom: 0;
    @include responsive($xl){
        height: 80px;
    }
}
.button-primary{
    border: 1px solid #885df3;
    font-size: clamp(15px, 1.3vw,25px);   
    font-family: $primary-font;
    padding: 5px 13px;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;

    &::after{
        content: "";
        position: absolute;
        width: 0;
        height: 100%;
        background: #885df3;
        z-index: -1;
        transition: all 0.3s;
        left: 0;
        top: 0;
    }
    img{
        width: 1.5625vw;
        min-width: 20px;
        max-width: 30px;
    }
    
    &:hover::after{
        width: 100%;
    }
}

// $dot-wid-xxl: 11px;
$dot-wid-xxl: 0.572vw;
// $dot-wid-xl: 10px;
$dot-wid-xl: 0.52vw;
// $dot-wid-lg: 9px;
$dot-wid-lg: 0.46vw;
// $dot-wid-md: 5px;
$dot-wid-md: 0.26vw;
// $dot-wid-sm: 3px;
$dot-wid-sm: 0.15vw;
// $dot-wid-xs: 2px;
$dot-wid-xs: 0.1041vw;
.bg-dots-con{
    width: 100vw;
    max-width: 1920px;
    box-sizing: border-box;
    margin: auto;
    min-height: 101vh;
    top: 0;
    padding: 10px;
    // overflow: hidden;
    
    .dot{
        width: $dot-wid-xxl;
        height: $dot-wid-xxl;
        border-radius: 50%;
        margin: 0.72vw;
        display:inline-block;
        position:relative;
    }
    .dot.dot-xl{
        width: $dot-wid-xl;
        height: $dot-wid-xl;
        margin: 0.746vw;
    }
    .dot.dot-lg{
        width: $dot-wid-lg;
        height: $dot-wid-lg;
        margin: 0.776vw;
    }
    .dot.dot-md{
        width: $dot-wid-md;
        height: $dot-wid-md;
        margin: 0.876vw;
    }
    .dot.dot-sm{
        width: $dot-wid-sm;
        height: $dot-wid-sm;
        margin: 0.931vw;
    }
    .dot.dot-xs{
        width: $dot-wid-xs;
        height: $dot-wid-xs;
        margin: 0.95395vw;
    }
   
    .dot.dot-trans{
        background: transparent;
    }
    .dot.dot-blue-d{
        background: #004cba;
    }
    .dot.dot-blue-l{
        background: #039dd9;
    }
    .dot.dot-purp-d{
        background: #4c0282;
    }
    .dot.dot-purp-l{
        background: #8a24d2;
    }
    .dot.dot-vlt{
        background: #06edf7;
    }
    .dot.dot-pink-l{
        background: #f44da8;
    }
    .dot.dot-pink-d{
        background: #bd2782;
    }
    .dot.dot-green-l{
        background: #70ce23;
    }
    .dot.dot-green-d{
        background: #49a00c;
    }
    .dot.dot-orng{
        background: #fcbb00;
    }
    .dot.dot-orng-d{
        background: #da4812;
    }

    .dots{
        &-col{
            display: flex;
            flex-direction: column;
            // opacity: 0;
            // animation: showDots 2s;
            // animation-fill-mode: forwards;
        }
        &-row{
            display: flex;
            flex-direction: row;
            align-items: center;
            opacity: 0;
            animation: showDots 2s;
            animation-fill-mode: forwards;
            .dot.dot-lg{
                margin: 0.832vw;
            }
            .dot.dot-lg{
                margin: 0.832vw;
            }
            .dot.dot-md{
                margin: 0.856vw
            }
            .dot.dot-sm{
                margin: 0.931vw;
            }
            .dot.dot-xs{
                margin-left: 17px;
                margin-top: 16px;
            }
        }
        
    }
}
.dots-lg{
    min-height: auto;
    padding-bottom: 0;
}
.header-dots{
    @include responsive($lg){
        padding-top: 0;
    }
}
.row-xxl{
    @include responsive($xl){
        display: none;
    }
}
.row-xl{
    display: none !important;
    @include responsive($xl){
        display: flex !important;
    }
}
.top50{
    margin-top: 50vh;
}
.top52{
    margin-top: 52vh;
}
.top53{
    margin-top: 53vh;
}
.top54{
    margin-top: 54vh;
}
.top54-5{
    margin-top: 54.5vh;
}
.top55{
    margin-top: 55vh;
}
.top100{
    margin-top: 100vh;
}
.h91vh{
    @include responsive($xxl){
        height: 91vh;
    }
}

@keyframes showDots{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



// Main Content Styles 
.main-wrapper{
    width: 100vw;
    max-width: 1920px;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

header{
    padding: 40px 53px;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;

    @include responsive($xl){
        padding: 20px 53px;
    }

    nav.navbar{
        position: relative;
        z-index: 2;
        
        .logo{
            width: 20.5%;
            @include responsive($lg){
                width: 50%;
            }
            
            img{
                width: 100%;
                object-fit: contain;
                object-position: left center;
            }
        }
        a.nav-link{
            color: $primary-txt-color;
            font-family: $primary-font, sans-serif;
            font-size: clamp(17px, 1.04vw, 20px);

            @include responsive($lg){
                font-size: 26px;
            }
            @include responsive($sm){
                font-size: 20;
            }
            i{
                font-size: 26px;
            }
            &:hover{
                color: #885df3;
            }
        }

        .nav-menu{
            @include responsive($lg){
                background: rgba(0,0,0,0.8);
                padding: 20px;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;

                ul li{
                    margin: 10px 0;
                    text-align: center;
                    display: flex;
                    justify-content: center;

                    a{
                        margin: 0 10px;
                    }
                }
            }
        }
        .navbar-toggler .navbar-toggler-icon{
            background-image: url("../images/icons/togger-icon.png") !important;
        }
    }

    .bg-video-cont{
        width: 82%;
        height: calc(100vh - 50px);
        overflow: hidden;
        position: absolute;
        z-index: -1;
        top: 40px;
        left: 52%;
        transform: translateX(-50%);

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
        
        video{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
        @include responsive($lg){
            width: 100%;
            top: 0;
        }
    }

    .header-text-cont{
        width: 36%;
        height: calc(100vh - 245px);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 34px;
        position: relative;
        z-index: 2;
        @include responsive($lg){
            width: 80%;
        }

        @include responsive($xl){
            height: calc(100vh - 160px);
        }
    }
}

.get-ameta-dots{
    min-height: 120vh;
    padding-top: 16.5vw;

    @include responsive($xxl){
        min-height: 115vh;
    }
    @include responsive($xl){
        min-height: 139.5vh;
    }
    @include responsive($lg){
        min-height: 96vh;
    }
}
.ms-3col{
    margin-left: -2vw;
}
.ms-1col{
    margin-left: 0;
}
.ms-2col{
    margin-left: 1.9vw;
}
#get-ameta{
    width: 100vw;
    min-height: 120vh;
    position: relative;
    z-index: 2;
    @include responsive($xxl){
        min-height: 115vh;
    }
    @include responsive($xl){
        min-height: 140vh;
    }
    @include responsive($lg){
        min-height: 100vh;
    }
    

    .get-ameta-sec{
        width: 68.5%;
        margin: auto;
        // min-height: 110vh;
        position: relative;
        display: flex;
        align-items: flex-start;
        
        @include responsive($lg){
            flex-wrap: wrap;
            width: 68%;
        }

        .section-text{
            width: 60%;
            height: auto;
            position: relative;
            margin-top: 27.5%;

            @include responsive($lg){
                width: 100%;
                margin-top: 40%;
            }

            p{
                padding-left: 30px;
                position: relative;
                margin-top: 60px;
                width: 95%;
                font-size: clamp(14px, 0.9375vw,18px);

                @include responsive($lg){
                    margin-left: 2%;
                }
                @include responsive($xl){
                    margin-top: 40px;
                    width: 100%;
                    font-size: clamp(14px, 0.7vw,18px);
                }

                &::before{
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 100%;
                    background: #fff;
                    border-radius: 4px;
                    left: 0;
                    top: 0;
                }
            }
            .ameta-address{
                width: auto;
                display: inline-block;
                height: auto;
                padding: 3px 30px 3px 5%;
                border-radius: 9.5px;
                background: #fff;
                position: relative;
                margin-top: 20px;
                margin-left: 10px;
                
                @include responsive($xxl){
                    margin-top: 10px;
                }

                .address-icon{
                    position: absolute;
                    width: auto;
                    height: 250%;
                    left: -24px;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 2;

                    @include responsive($xxl){
                        height: 230%;
                    }
                    @include responsive($xl){
                        height: 160%;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        object-position: center;
                    }
                }
                p{
                    color: #000;
                    margin: 0;
                    width: 100%;
                    font-size: clamp(13px, 0.834vw,16px);
                    @include responsive($xl){
                        font-size: 11px;
                    }

                    &::before{
                        content: none;
                    }
                }
            }

        }

        .section-card{
            margin-left: 5%;
            background: url(../images/swap-card-bg.png);
            padding: 16px 34px;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: top center;
            min-width: 295px;
            width: 20.4vw;
            max-width: 393px;
            height: 27.1874vw;
            min-height: 392px ;
            max-height: 522px;
            margin-top: 22%;
            position: relative;
            @include responsive($xl){
                width: 25vw;
                height: 35vw;
            }
            @include responsive($lg){
                width: 40vw;
                min-width: auto;
                min-height: auto;
                margin-top: 0;
                height: 60vw;
                margin-left: 30%;
            }

            p{
                font-size: clamp(16px, 1.12vw ,23px);
                color: #000;
                text-align: center;
            }
            label{
                font-family: $secondary-font;
                font-size: 16px;
            }
            .card-title{
                h3{
                    font-size: clamp(24px, 2.08vw ,40px);
                    text-align: center;
                    font-family: $primary-font;
                }
                
            }

            .divider{
                width: 100%;
                height: 4px;
                background-color: #000;
                border-radius: 1.53px;
                @include responsive($xxl){
                    height: 3px;
                }
                @include responsive($lg){
                    height: 2px;
                }
            }

            .swap-btn-con{
                margin: 1rem 0;

                @include responsive($xxl){
                    margin: 0 0 1rem 0;
                }
                .swap-btn{
                    background: transparent;
                    border: 0;
                    outline: none;
    
                    &:focus{
                        outline: none;
                    }
                }    
            }
            .swap-input-con{
                background: #000;
                border-radius: 50px;
                position: relative;
                display: flex;
                align-items: center;
                .input-icon{
                    min-width: 40px;
                    width: 2.604vw;
                    max-width: 50px;
                    margin-left: 2px;
                    margin-right: 5px;
                    @include responsive($xxl){
                        height: 38px;
                    }

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        object-position: center;
                    }
                }
                .input-label{
                    font-family: $secondary-font;
                    font-size: clamp(16px, 1.12vw ,23px);
                    color: #fff;
                }
                ::placeholder{
                    color: #fff;
                    font-family: $secondary-font;
                    font-size: clamp(16px, 1.12vw ,23px);
                }
                input{
                    width: 57%;
                    position: relative;
                    text-align: right;
                    color: #fff;
                    background: transparent;
                    border: 0;
                    outline: none;
                    font-size: clamp(16px, 1.12vw ,23px);

                    &:active, &:focus{
                        outline: none;
                    }
                }
            }

            .connect-wallet-btn{
                font-size: clamp(17px, 1.35vw ,26px);
                font-family: $primary-font;
                color: #000;
                background: #fff;
                border: 4px solid #000;
                border-radius: 50px;
                width: 80%;

                @include responsive($xxl){
                    font-size: clamp(17px, 1.25vw ,20px);
                }
            }
            .gass-fee-label{
                font-size: clamp(13px, 0.833vw ,16px);
                text-align: center;
            }
        }

    }
    
}

.play-games-dots{
    min-height: 104vh;
    padding-top: 25%;
    padding-bottom: 0;
    @include responsive($xxl){
        padding-top: 26%;
        min-height: 96vh;
    }
    @include responsive($lg){
        min-height: 85vh;
    }
}
.btn-slider-nav{
    cursor: pointer;
}
#play-games{
    .play-games-sec{
        width: 100%;
        padding-left: 14%;
        box-sizing: border-box;
        min-height: 113vh;
        display: flex;
        // align-items: center;
        overflow: hidden;

        @include responsive($xxl){
            min-height: 112vh;
        }
        @include responsive($xl){
            min-height: 126vh;
        }
        @include responsive($lg){
            flex-wrap: wrap;
            min-height: 87vh;
        }
        .section-text{
            width: 33%;
            margin-top: 15%;
            @include responsive($xl){
                margin-top:12%;
            }
            @include responsive($lg){
                width: 95%;
                margin-top:12%;
            }
          

            p{
                width: 97%;
                font-size: clamp(14px,0.9375vw,18px);
                position: relative;
                padding-left: 20px;
                margin-top: 10px;

                @include responsive($xxl){
                    width: 98%;
                }
                @include responsive($xl){
                    width: 100%;
                    line-height: 20px
                }

                span{
                    color: #ff0000;
                }
                &::before{
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 100%;
                    background: #fff;
                    border-radius: 4px;
                    left: 0;
                    top: 0;
                }
            }
        }
        .game-cards-con{
            width: 67%;
            padding-left: 2%;
            padding-top: 0;
            @include responsive($lg){
                width: 100%;
            }
            ul.game-cards-crsl{
                list-style:none;
                height: 80vh !important;
                display: flex;
                align-items: center;
                padding-left: 1%;

                @include responsive($xxl){
                    height: 80vh !important;
                }
                @include responsive($xl){
                    height: 86vh !important;
                }
                @include responsive($lg){
                    height: 48vh !important;
                }
                // margin-top: 0;
                // .slide-item{
                //     transform: scale(1.05);
                // }
                .item-card{
                    width: 20.5vw;
                    min-width: 200px;
                    // height:310px;
                    border-radius: 10px;
                    display: flex;
                    box-sizing: border-box;
                    margin: 0px 10px;
                    position: relative;

                    @include responsive($lg){
                        width: 29vw;
                    }
                    img{
                        width: 100%;
                        object-fit: contain;
                        
                    }
                    .slide-card-btn{
                        position: absolute;
                        bottom: 20px;
                        left: 50%;
                        transform: translateX(-50%);
                        display: none;

                        a{
                            font-size: clamp(17px,1.6vw,32px);
                            color: #fff;
                            font-family: $primary-font;
                            padding: 3px 10px;
                            width: 230px;
                            display: inline-block;
                            text-align: center;
                            border-radius: 50px;
                            border: 1.5px solid #fff;
                            background: #000;

                            @include responsive($lg){
                                width: 180px;
                            }
                        }
                    }

                    @include responsive($sm) {
                        width: 300px;
                    }
                }
                .slide-item.active{
                    transform: scale(1.1);
                    margin-right: 60px !important;

                    @include responsive($xxl){
                        margin-right: 50px !important;
                    }
                    @include responsive($lg){
                        margin-right: 30px !important;
                    }

                    .slide-card-btn{
                        display: block;
                    }
                }
            }
            
        }
    }
}

.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}
// slider navigation dots styles 
.lSSlideOuter .lSPager.lSpg{
    display: flex;
    text-align: left;
    padding-left: 20px;
    align-items: center;
    margin-top: -2% !important;

    li{
        padding: 0 18px;

        @include responsive($xxl){
            padding: 0 16px;
        }
        a{
            width: 0.989vw;
            min-width: 12px;
            max-width: 19px;
            height: 0.989vw;
            min-height: 12px;
            max-height: 19px;
            background-color: #fff;
            border-radius: 50%;
        }
        &.active{
            a{
                width: 2.08vw;
                height: 2.08vw;
                min-width: 20px;
                max-width: 40px;
                min-height: 20px;
                max-height: 40px;
                
                border: 10px solid #5a5a5a;
                background-color: #fff;
            }
        }
    }
}

.roadmap-dots{
    padding-top: 0;
    padding-bottom: 0;
    min-height: auto;
}
#roadmap{
    .roadmap-sec{
        width: 80%;
        margin-left: 14%;
        padding-top:3.8%;
        @include responsive($xxl){
            padding-top: 3.3%;
        }
        @include responsive($xl){
            padding-top: 3.9%;
        }
        @include responsive($lg){
            padding-top: 3.5%;
        }

        .section-title{
            padding-left:0;
        }

        .roadmap-timeline{
            position: relative;
            padding-left: 1%;

            .cloud-img-items{
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 100%;
                display: flex;

                .cloud-img-item{
                    position: absolute;

                    &:hover{
                        animation: shake 0.5s infinite;
                    }

                    &.item-1{
                        width: 10.1vw;
                        min-width: 185px;
                        max-width: 193px;
                        top: 36%;
                        left: -2%;

                        @include responsive($lg){
                            top: 55%;
                            left: 60%;
                        }
                    }
                    &.item-2{
                        width: 190px;
                        width: 9.9vw;
                        min-width: 180px;
                        max-width: 190px;
                        left: 25%;
                        top: 3%;
                        @include responsive($lg){
                            top: -2%;
                            left: 55%;
                        }
                    }
                    &.item-3{
                        width: 11.04vw;
                        min-width: 196px;
                        max-width: 212px;
                        left: 53%;
                        top: 14%;
                        @include responsive($lg){
                            top: 25%;
                            left: 0;
                        }
                    }
                    &.item-4{
                        width: 10.4vw;
                        min-width: 190px;
                        max-width: 200px;
                        right: 3%;
                        top: 35%;

                        @include responsive($lg){
                            top: 77%;
                            right: 52%;
                        }
                    }

                    img{
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }

            .timeline-item{
                min-height: 23vh;

                @include responsive($lg){
                    min-height: 10vh;
                }
                
                .item-text{
                    h3{
                        font-size: clamp(20px, 2.08vw, 40px);
                        font-family: $primary-font;
                        color: #fff;
                        line-height: 26px;
                    }
                    ul{
                        list-style: none;
                        padding: 0;

                        li{
                            font-size: clamp(14px, 1.04vw, 20px);
                            font-family: $primary-font;
                            color: #fff;
                        }
                    }
                }
            }

            .col3{
                .itemQ3{
                    grid-area: itemQ3;
                }
                .itemQ4{
                    grid-area: itemQ4;
                }
                @include responsive($lg){
                    display: grid;
                    grid-template-areas: 'itemQ3'
                                       'itemQ4';
                } 
            }
        }
        
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.faq-dots{
    padding-top: 0;
    padding-bottom: 0;
    min-height: auto;
    padding-right: 20px;
}
#FAQ{
    min-height: 200vh;
    padding-top: 35vh;
    @include responsive($xxl){
        min-height: 188vh;
        padding-top: 23vh;
    }
    @include responsive($xl){
        min-height: 210vh;
        padding-top: 25vh;
    }
    @include responsive($lg){
        min-height: 80vh;
        padding-top: 12vh;
    }
    .faq-sec{
        width: 60%;
        margin: auto;
        @include responsive($lg){
            width: 85%;
        }
        @include responsive($sm){
            width: 90%;
        }

        .section-title{
            text-align: center;
        }

        .faq-dropdowns-con{
            width: 70%;
            margin: auto;
            margin-top: 50px;

            @include responsive($lg){
                margin-top: 30px;
            }
            @include responsive($sm){
                width: 95%;
            }

            .accordion-item{
                background-color: #000;
                border-top: 1px solid #fff;

                &:last-child{
                    border-bottom: 1px solid #fff;
                }
                .accordion-button{
                    background-color: transparent;

                    @include responsive($lg){
                        font-size: 16px;
                    }
                }
                .accordion-button.collapsed{
                    color: #fff;
                }
                .accordion-button:not(.collapsed){
                    color: #fff;
                    background-color: transparent;
                }
                .accordion-button:focus{
                    outline: none;
                    box-shadow: none;
                    border: none;
                }
                .accordion-button::after{
                    background-image: url(../images/icons/plus.png);
                    @include responsive($lg){
                        background-size: 80%;
                        background-position: center;
                    }
                }
                .accordion-button:not(.collapsed)::after{
                    background-image: url(../images/icons/minus.png);
                    @include responsive($lg){
                        background-size: 80%;
                        background-position: center;
                    }
                }
            }
        }
    }
}

footer{
    padding: 50px 0;

    .footer-sec{
        width: 77.8%;
        margin: auto;

        .footer-logo{
            width: 100%;
            img{
                width: 100%;
                object-fit: contain;
            }
        }

        .footer-content{
            .footer-col{

                ul li{
                    margin: 10px 0;
                    font-size: 18px;
                }
                .social-menu{
                    a{
                        font-size: 28px;
                    }
                }
                .copyrights{
                    p{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}


// ------------------------------------
// Animations 
// ====================================
.fadeInDown, .fadeInRight,.fadeInLeft, .fadeIn{
    opacity: 0;
    transition: all 0.2s;
}

.fade{
    &-down{
        animation: fadeInDown 1s;
        animation-fill-mode: both;
        &._1{
            animation-delay: 0.1s;
        }
        &._2{
            animation-delay: 0.2s;
        }
        &._3{
            animation-delay: 0.3s;
        }
        &._4{
            animation-delay: 0.4s;
        }
    }
    &-right{
        animation: fadeInRight 1s 0.5s !important;
        animation-fill-mode: both !important;
    }
    &-left{
        animation: fadeInLeft 1s 0.5s !important;
        animation-fill-mode: both !important;
    }
    &-in{
        animation: fadeIn 1s 0.5s !important;
        animation-fill-mode: both !important;
        &._1{
            animation-delay: 0.1s;
        }
        &._2{
            animation-delay: 0.4s;
        }
        &._3{
            animation-delay: 0.6s;
        }
        &._4{
            animation-delay: 3s;
        }
    }
}

@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
       filter: blur(5px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
       filter: blur(0);
    }
 }
@keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(-200px);
       filter: blur(5px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
       filter: blur(0);
    }
 }
@keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(50%);
       filter: blur(5px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
       filter: blur(0);
    }
 }
@keyframes fadeIn {
    0% {
       opacity: 0;
       filter: blur(5px);
    }
    100% {
       opacity: 1;
       filter: blur(0);
    }
 }